USE [Dbpmas_quadrienal_DESENV]
GO
/****** Object:  StoredProcedure [dbo].[PR_SUBREPORT_BLOCO_III_PREVISAO_ANUAL_PARCELAS]    Script Date: 18/03/2019 11:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
ALTER PROCEDURE [dbo].[PR_SUBREPORT_BLOCO_III_PREVISAO_ANUAL_PARCELAS]  
   @ID_PROGRAMA INT   
  , @TIPO_PROGRAMA_TRANSFERENCIA_RENDA INT  
  , @ID_EXERCICIO INT  
AS  
IF @TIPO_PROGRAMA_TRANSFERENCIA_RENDA = 1  
 BEGIN  
  SELECT PA.[ID]  
		,PA.[ID_PROGRAMA]  
		,PP.[NOME]  
  , CASE WHEN PPP.[MES_REPASSE_DIA_IDOSO] > 0 And PPP.[ANO_REPASSE_DIA_IDOSO] > 0  
		 THEN convert(datetime, '01/'+ convert(char(2),replicate('0', 2 -len(PPP.[MES_REPASSE_DIA_IDOSO])) + convert(varchar(max),PPP.[MES_REPASSE_DIA_IDOSO])) +'/' + convert(char(4),PPP.[ANO_REPASSE_DIA_IDOSO]), 103)   
		 ELSE NULL  
    END AS DATA_REPASSE_DIA_IDOSO  
  ,	CASE WHEN PPP.[MES_REPASSE_CONVIVENCIA_IDOSO] > 0 and PPP.[ANO_REPASSE_CONVIVENCIA_IDOSO] > 0  
		 THEN convert(datetime, '01/'+ convert(char(2),replicate('0', 2 -len(PPP.[MES_REPASSE_CONVIVENCIA_IDOSO])) + convert(varchar(max),PPP.[MES_REPASSE_CONVIVENCIA_IDOSO])) +'/' + convert(char(4),PPP.[ANO_REPASSE_CONVIVENCIA_IDOSO]), 103)   
		 ELSE NULL  
   END AS DATA_REPASSE_CONVIVENCIA_IDOSO  
		, PPP.[VALOR_DIA_IDOSO]  
		, PPP.[VALOR_CONVIVENCIA_IDOSO]  
   FROM [dbo].[TB_PROGRAMA_PROJETO_PREVISAO_ANUAL_BENEFICIARIOS] PA  
			INNER JOIN [dbo].[TB_PROGRAMA_PROJETO] PP ON PP.ID = PA.ID_PROGRAMA  
			INNER JOIN [dbo].[TB_PROGRAMA_PROJETO_PARCELAS] PPP ON PP.ID = PPP.ID_PROGRAMA_PROJETO  
   WHERE PA.[ID_PROGRAMA] = @ID_PROGRAMA AND EXERCICIO = @ID_EXERCICIO  
END  