USE [Dbpmas_quadrienal]
GO

ALTER PROCEDURE [dbo].[PR_RELATORIO_INFORMACOES_BASICAS_DRADS]

	@DATA_CRIACAO DATETIME
 AS
 
	SELECT
	D.ID AS ID_DRADS,
	D.ID_MACRO_REGIAO,
	D.NOME AS DRADS, 
	SUM(P.POPULACAO) AS HABITANTES ,
	
	(SELECT COUNT(C.ID) FROM TB_CRAS C
	INNER JOIN TB_UNIDADE_PUBLICA U ON (C.ID_UNIDADE_PUBLICA in (U.ID))
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = U.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID) 
	WHERE C.ID in(SELECT ID_CRAS FROM TB_LOGxCRAS LC join TB_LOG L on  L.ID = LC.ID_LOG
		  WHERE L.ID_ACAO = 1 AND ID_QUADRO = 21 AND LC.DATA_CRIACAO <= @DATA_CRIACAO AND LC.ID_CRAS NOT IN(
		  SELECT LC.ID_CRAS FROM TB_LOGxCRAS LC	JOIN TB_LOG L ON L.ID  = LC.ID_LOG	WHERE LC.DATA_CRIACAO <= @DATA_CRIACAO AND L.ID_QUADRO = 21 AND L.ID_ACAO = 4 ))) AS CRAS_IMPLANTADOS,
	
	(SELECT COUNT(C.ID) FROM TB_PREVISAO_INSTALACAO_CRAS C
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = C.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID)) AS CRAS_PREVISTOS,
	
	(SELECT COUNT(C.ID) FROM TB_CREAS C
	INNER JOIN TB_UNIDADE_PUBLICA U ON (C.ID_UNIDADE_PUBLICA in (U.ID))
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = U.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID) 
	WHERE C.ID IN(SELECT ID_CREAS FROM TB_LOGxCREAS LC	join TB_LOG L on  L.ID = LC.ID_LOG
			WHERE L.ID_ACAO = 1 AND ID_QUADRO = 26 AND LC.DATA_CRIACAO <= @DATA_CRIACAO AND LC.ID_CREAS NOT IN(
			SELECT LC.ID_CREAS FROM TB_LOGxCREAS LC JOIN TB_LOG L ON L.ID  = LC.ID_LOG	WHERE LC.DATA_CRIACAO <= @DATA_CRIACAO AND L.ID_QUADRO = 26 AND L.ID_ACAO = 4 )))AS CREAS_IMPLANTADOS,
	
	(SELECT COUNT(C.ID) FROM TB_PREVISAO_INSTALACAO_CREAS C
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = C.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID)) AS CREAS_PREVISTOS,
	
	(SELECT COUNT(C.ID) FROM TB_CENTRO_POP C
	INNER JOIN TB_UNIDADE_PUBLICA U ON (C.ID_UNIDADE_PUBLICA in (U.ID))
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = U.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID) 
	WHERE C. ID IN(SELECT ID_CENTRO_POP	FROM TB_LOGxCENTRO_POP LCP 	join TB_LOG L on  L.ID = LCP.ID_LOG
				   WHERE L.ID_ACAO = 1 AND ID_QUADRO = 32 AND LCP.DATA_CRIACAO <= @DATA_CRIACAO AND LCP.ID_CENTRO_POP NOT IN(
				   SELECT LCP.ID_CENTRO_POP FROM TB_LOGxCENTRO_POP LCP 	JOIN TB_LOG L ON L.ID  = LCP.ID_LOG WHERE L.ID_ACAO = 4 AND L.ID_QUADRO = 32 AND LCP.DATA_CRIACAO <= @DATA_CRIACAO ))) AS CENTRO_POP_IMPLANTADOS,
	
	(SELECT COUNT(C.ID) FROM TB_PREVISAO_INSTALACAO_CENTRO_POP C
	INNER JOIN TB_PREFEITURA PR ON(PR.ID = C.ID_PREFEITURA)
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS MU ON(MU.ID = PR.ID_MUNICIPIO AND MU.ID_DRADS = D.ID)) AS CENTRO_POP_PREVISTOS
	
	FROM [dbo].[TB_PREFEITURA] P
	INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS M ON(M.ID = P.ID_MUNICIPIO)
	INNER JOIN DBSEDS.DBO.TB_DRADS D ON (D.ID = M.ID_DRADS)
	GROUP BY D.ID, D.NOME, D.ID_MACRO_REGIAO

	go
