<?xml version="1.0"?>
<configuration>
    <system.web>
      
    </system.web>
  <location path="FUsuario.aspx">
    <system.web>
      <authorization>
        <allow roles="PMAS QUADRIENAL@Administrador,PMAS QUADRIENAL@DRADS Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
