/webForms/Seds.PMAS.QUADRIENAL.Documentacao/obj
/webForms/Seds.PMAS.QUADRIENAL.Documentacao/bin
/webForms/Seds.PMAS.QUADRIENAL.Entidades/obj
/webForms/Seds.PMAS.QUADRIENAL.Entidades/bin
/webForms/Seds.PMAS.QUADRIENAL.Impressao/bin
/webForms/Seds.PMAS.QUADRIENAL.Negocio/bin
/webForms/Seds.PMAS.QUADRIENAL.Negocio/obj
/webForms/Seds.PMAS.QUADRIENAL.Negocio.Validadores/obj
/webForms/Seds.PMAS.QUADRIENAL.Negocio.Validadores/bin
/webForms/Seds.PMAS.QUADRIENAL.Negocio.Validadores/*
/webForms/Seds.PMAS.QUADRIENAL.Persistencia/bin
/webForms/Seds.PMAS.QUADRIENAL.Persistencia/obj
/webForms/Seds.PMAS.QUADRIENAL.Persistencia.Repositorio/bin
/webForms/Seds.PMAS.QUADRIENAL.Persistencia.Repositorio/obj
/webForms/Seds.PMAS.QUADRIENAL.Processos/bin
/webForms/Seds.PMAS.QUADRIENAL.Processos/obj
/webForms/Seds.PMAS.QUADRIENAL.Servicos/bin
/webForms/Seds.PMAS.QUADRIENAL.Servicos/obj
/webForms/Seds.PMAS.QUADRIENAL.Servicos.Contratos/bin
/webForms/Seds.PMAS.QUADRIENAL.Servicos.Contratos/obj
/webForms/Seds.PMAS.QUADRIENAL.Testes/bin
/webForms/Seds.PMAS.QUADRIENAL.Testes/obj
/webForms/Seds.PMAS.QUADRIENAL.UI.Web/bin
/webForms/Seds.PMAS.QUADRIENAL.UI.Web/obj
/webForms/UnitTestProject1/bin
/webForms/UnitTestProject1/obj
/webForms/Seds.PMAS.QUADRIENAL.UI.Web/c$
/webApi/Seds.PMAS.AngularJs/bin
/webApi/Seds.PMAS.AngularJs/obj
/webApi/Seds.PMAS.Api/bin
/webApi/Seds.PMAS.Api/obj
/webApi/Seds.PMAS.Aplicacao/bin
/webApi/Seds.PMAS.Aplicacao/obj
/webApi/Seds.PMAS.Commom/bin
/webApi/Seds.PMAS.Commom/obj
/webApi/Seds.PMAS.Dominio/bin
/webApi/Seds.PMAS.Dominio/obj
/webApi/Seds.PMAS.Dominio.Core/bin
/webApi/Seds.PMAS.Dominio.Core/obj
/webApi/Seds.PMAS.Infra.CrossCutting.Bus/bin
/webApi/Seds.PMAS.Infra.CrossCutting.Bus/obj
/webApi/Seds.PMAS.Infra.CrossCutting.IoC/bin
/webApi/Seds.PMAS.Infra.CrossCutting.IoC/obj
/webApi/Seds.PMAS.Infra.CrossCutting.Startup/bin
/webApi/Seds.PMAS.Infra.CrossCutting.Startup/obj
/webApi/Seds.PMAS.Infra.Data/obj
/webApi/Seds.PMAS.Infra.Data/bin
/webApi/Seds.PMAS.Services.Contracts/bin
/webApi/Seds.PMAS.Services.Contracts/obj
/webApi/Seds.PMAS.Servicos/bin
/webApi/Seds.PMAS.Servicos/obj
/webApi/Seds.PMAS.Servicos.Contrato/bin
/webApi/Seds.PMAS.Servicos.Contrato/obj
/webApi/Seds.PMAS.UI.Processos/bin
/webApi/Seds.PMAS.UI.Processos/obj
/webApi/Seds.PMAS.Web/bin
/webApi/Seds.PMAS.Web/obj
/webApi/Seds.PMAS.WebAngularJS/.bin
/webApi/Seds.PMAS.WebApi/bin
/webApi/Seds.PMAS.WebApi/obj
/webApi/Seds.PMAS.WebApi.Client/bin
/webApi/Seds.PMAS.WebApi.Client/obj
/webApi/Seds.PMAS.WebApi.Ninject/bin
/webApi/Seds.PMAS.WebApi.Ninject/obj
/webApi/Seds.PMAS.WebApi.OwinHost/bin
/webApi/Seds.PMAS.WebApi.OwinHost/obj
/webApi/Seds.PMAS.WebApi.WebHost/bin
/webApi/Seds.PMAS.WebApi.WebHost/obj
/webApi/Seds.PMAS.WebSite/bin
/webApi/Seds.PMAS.WebSite/obj
/webApi/Seds.PMAS.WebApi.Teste/Bin
/webApi/Seds.PMAS.WebApiOLd
/webForms/Seds.PMAS.QUADRIENAL.UI.Web/*.suo
/webForms/Seds.PMAS.QUADRIENAL.Impressao/*.user
Debug
/webForms/Seds.PMAS.QUADRIENAL.Sessao/obj
/webForms/Seds.PMAS.QUADRIENAL.v11.suo
