UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME = 'Adolescentes (12 a 18 anos) em cumprimento de MSE em meio aberto' where ID = 1
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 9 where ID = 1

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME = 'Afastamento do convívio familiar (abandono/medida de proteção)' where ID = 2
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 5 where ID = 2

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Beneficiários de BPC'  where ID = 3
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 3

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Beneficiários de TR'  where ID = 4
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 4

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Dependência para realização das AVDs' WHERE ID = 5
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 3 where ID = 5

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Desemprego' WHERE ID = 6
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 1 where ID = 6

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Desemprego entressafras' WHERE ID = 7
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 2 where ID = 7

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Vulnerabilidades características dos diversos estágios do ciclo de vida (crianças, adolescentes)' WHERE ID = 8
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 13 where ID = 8

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por apresentar transtorno mental' WHERE ID = 9
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 9

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por deficiência' WHERE ID = 10
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 10

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por gênero' WHERE ID = 11
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 11

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por motivos étnicos' WHERE ID = 12
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 12

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por orientação sexual' WHERE ID = 13
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 13

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Discriminação por ter HIV soropositivo' WHERE ID = 14
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 11 where ID = 14

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Egressos de MSE em meio aberto' WHERE ID = 15
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 9 where ID = 15

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Egressos do sistema prisional' WHERE ID = 16
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 7 where ID = 16

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em descumprimento de condicionalidades dos programas de transferência de renda' WHERE ID = 17
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 6 where ID = 17

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em situação de rua para moradia' WHERE ID = 18
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 8 where ID = 18

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em situação de rua apenas para subsistência' WHERE ID = 19
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 8 where ID = 19

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em situação de violência física, psicológica ou negligência' WHERE ID = 20
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 5 where ID = 20

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em situação de violência sexual (abuso ou exploração)' WHERE ID = 21
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 5 where ID = 21

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Exposição a riscos e vulnerabilidades temporárias por calamidade pública' WHERE ID = 22
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 10 where ID = 22

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Exposição a riscos e vulnerabilidades temporárias por situações individuais' WHERE ID = 23
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 23

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Necessidade de habilitação e/ou reabilitação social' WHERE ID = 24
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 4 where ID = 24

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Insegurança alimentar (fome)' WHERE ID = 25
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 12 where ID = 25

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Prostituição' WHERE ID = 26
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 8 where ID = 26

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Qualificação profissional insuficiente' WHERE ID = 27
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 1 where ID = 27

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Refugiados ou outros imigrantes estrangeiros' WHERE ID = 28
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 28

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Renda insuficiente para subsistência' WHERE ID = 29
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 29

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Egressos de trabalho infantil' WHERE ID = 30
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 9 where ID = 30

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Tráfico de pessoas' WHERE ID = 31
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 5 where ID = 31

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Uso de substâncias psicoativas' WHERE ID = 32
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 16 where ID = 32


UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Vivência de isolamento social' WHERE ID = 33
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 33

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Fragilização de vínculos familiares' WHERE ID = 34
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 34

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Famílias sem condições de exercer temporariamente sua função protetiva' WHERE ID = 35
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 35

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Necessidade de acesso a serviços de outros setores (documentação, educação, saúde, etc.)' WHERE ID = 36
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 6 where ID = 36

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Necessidade de acesso a programas, benefícios ou serviços socioassistenciais' WHERE ID = 37
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 6 where ID = 37

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Encaminhados pela rede de Proteção Social Especial' WHERE ID = 38
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 5 where ID = 38

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Vulnerabilidades características dos diversos estágios do ciclo de vida (idosos)' WHERE ID = 39
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 3 where ID = 39

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Deficiência intelectual' WHERE ID = 40
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 4 where ID = 40

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Deficiência física, motora ou sensorial' WHERE ID = 41
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 4 where ID = 41

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Pessoas em trânsito em razão de fluxos migratórios' WHERE ID = 42
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 8 where ID = 42

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Jovens (18 a 21 anos) em cumprimento de MSE em meio aberto' WHERE ID = 43
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 9 where ID = 2

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Em situação de acolhimento' WHERE ID = 44
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 44

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Egressos de medidas de proteção previstas no ECA' WHERE ID = 45
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 9 where ID = 45

--UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =   WHERE ID = 46
--UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 17 where ID = 46

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Beneficiários do Programa Ação Jovem' WHERE ID = 47
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 47

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME =  'Beneficiários do Programa Renda Cidadã' WHERE ID = 48
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 48

UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET NOME = 'Pessoas e seus acompanhantes em trânsito durante o tratamento de doença grave'  WHERE ID = 49
UPDATE [dbo].[TB_SITUACAO_ESPECIFICA] SET ID_SITUACAO_VULNERABILIDADE = 14 where ID = 49


--INSERT INTO [DBPMAS2016_CAPACITACAO].[dbo].[TB_SITUACAO_ESPECIFICA] (ID, NOME, ID_SITUACAO_VULNERABILIDADE) VALUES (46,'Alto nível de estresse do cuidador', 14)
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Existência de famílias sem acesso a alimentos de qualidade em quantidade adequada (insegurança alimentar)' WHERE ID = 12
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 1 WHERE ID = 12

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Existência de famílias com insuficiente ou nulo acesso a renda' WHERE ID = 14
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 2 WHERE ID = 14

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Expressivo contingente de famílias com dificuldade de acesso a serviços públicos (saneamento básico, geração de renda, transporte, saúde, educação, convívio, segurança, habitação)' WHERE ID = 6
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 3 WHERE ID = 6

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Existência de famílias em situação de fragilidade social e risco de ruptura dos vínculos familiares' WHERE ID = 17
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 4 WHERE ID = 17


UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Alta porcentagem de pessoas idosas na população' WHERE ID = 3
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 5 WHERE ID = 3

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Alta porcentagem de crianças e adolescentes na população' WHERE ID = 13
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 6 WHERE ID = 13

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Desvantagens resultantes de deficiência' WHERE ID = 4
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 7 WHERE ID = 4


UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Existência e disseminação de preconceitos que geram intolerância ou discriminação social e/ou pessoal' WHERE ID = 11
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 8 WHERE ID = 11

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Expressivo contingente de indivíduos egressos do sistema prisional' WHERE ID = 7
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 9 WHERE ID = 7

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Pessoas em situação de rua' WHERE ID = 8
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 10 WHERE ID = 8

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Estratégias e alternativas diferenciadas de sobrevivência que podem representar risco pessoal e social' WHERE ID = 9
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 11 WHERE ID = 9


UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Prevalência de fatores de risco que levem ao uso indevido ou abusivo de substâncias psicoativas' WHERE ID = 16
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 12 WHERE ID = 16

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Diferentes formas de violência advindas do núcleo familiar, grupos ou indivíduos' WHERE ID = 5
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 13 WHERE ID = 5

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Desemprego ou inserção precária no mercado de trabalho' WHERE ID = 1
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 14 WHERE ID = 1

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Desemprego entressafras' WHERE ID = 2
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 15 WHERE ID = 2

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Ocupação de áreas de risco para moradia' WHERE ID = 10
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 16 WHERE ID = 10

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [NOME] = 'Existência de fatores climáticos, ambientais e/ou estruturais que favoreçam fenômenos causadores de calamidades públicas' WHERE ID = 15
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 17 WHERE ID = 15

UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 18 WHERE ID = 18
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 19 WHERE ID = 19
UPDATE [dbo].[TB_SITUACAO_VULNERABILIDADE] SET [ORDEM] = 20 WHERE ID = 20



 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 4
 INSERT INTO [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] (ID_USUARIO_TIPO_SERVICO, ID_SITUACAO_ESPECIFICA) VALUES (4 , 3)
 INSERT INTO [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] (ID_USUARIO_TIPO_SERVICO, ID_SITUACAO_ESPECIFICA) VALUES (4 , 4)
 INSERT INTO [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] (ID_USUARIO_TIPO_SERVICO, ID_SITUACAO_ESPECIFICA) VALUES (4 , 6)

 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO =5

 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 6																															 

 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO =7
																																																						
 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO =65	

 DELETE  FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO =66
 
 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 8

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 9

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 10

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 61

																					
 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 18

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 19

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 20

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 21


 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 22

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 23

																										--5	9	10	20	24	29	33	35	36	37	40	41	46

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 24

  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 25

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 26


 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 27

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 28

  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 29

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 37

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 38

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 39


 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 40


  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 41

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 42

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 43

  
 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 44

  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 45

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 46

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 47

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 48

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 49

  
 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 50

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 51

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 52

 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 53


 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 67

  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 68

	   DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 69


	    DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 70


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 71

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 72


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 73


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 74

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 75

	 
	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 76

	 
	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 77


	 
	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 78

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 96


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 95


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 62


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 11

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 12

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 13


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 14

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 15

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 16



	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 17

	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 30

	 	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 31

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 34

	 
	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 35


	 
	 	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 36



	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 63



	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 31

	
	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 32

	   DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 33


	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 54

	 
	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 58

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 59

DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 60

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 64



	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 55

	 
	  DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 56

	 DELETE FROM [dbo].[TB_USUARIO_TIPO_SERVICOxSITUACAO_ESPECIFICA] WHERE ID_USUARIO_TIPO_SERVICO = 57


		--carga TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO
  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 16 AND ID_TIPO_SERVICO = 135
  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 39 AND ID_TIPO_SERVICO = 135

  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 16 AND ID_TIPO_SERVICO = 160
  INSERT INTO [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] (ID_ATIVIDADE_SOCIOASSISTENCIAL, ID_TIPO_SERVICO) VALUES (36, 160)
  INSERT INTO [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] (ID_ATIVIDADE_SOCIOASSISTENCIAL, ID_TIPO_SERVICO) VALUES (37, 160)

  INSERT INTO [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] (ID_ATIVIDADE_SOCIOASSISTENCIAL, ID_TIPO_SERVICO) VALUES (5, 137)
  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 7 AND ID_TIPO_SERVICO = 137

  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 16 AND ID_TIPO_SERVICO = 154
  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 31 AND ID_TIPO_SERVICO = 154
  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 39 AND ID_TIPO_SERVICO = 154

  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 16 AND ID_TIPO_SERVICO = 160


   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 16 AND ID_TIPO_SERVICO = 138
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 31 AND ID_TIPO_SERVICO = 138
	   
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 12 AND ID_TIPO_SERVICO = 140
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 23 AND ID_TIPO_SERVICO = 140

   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 12 AND ID_TIPO_SERVICO = 141
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 141
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 18 AND ID_TIPO_SERVICO = 141
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 30 AND ID_TIPO_SERVICO = 141

   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 12 AND ID_TIPO_SERVICO = 142
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 142
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 18 AND ID_TIPO_SERVICO = 142
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 30 AND ID_TIPO_SERVICO = 142


   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 12 AND ID_TIPO_SERVICO = 143
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 18 AND ID_TIPO_SERVICO = 143
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 22 AND ID_TIPO_SERVICO = 143
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 23 AND ID_TIPO_SERVICO = 143
   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 30 AND ID_TIPO_SERVICO = 143


   DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 31 AND ID_TIPO_SERVICO = 158
	DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 31 AND ID_TIPO_SERVICO = 157

 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 146
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 146	
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 146	

 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 147
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 147
	
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 148
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 148
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 148

 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 149
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 149
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 149

 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 14 AND ID_TIPO_SERVICO = 150
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 150
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 150


 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 151

  DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 152

 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 15 AND ID_TIPO_SERVICO = 153
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 26 AND ID_TIPO_SERVICO = 153
 DELETE from [dbo].[TB_ATIVIDADE_SOCIOASSISTENCIALxTIPO_SERVICO] WHERE ID_ATIVIDADE_SOCIOASSISTENCIAL = 33 AND ID_TIPO_SERVICO = 153




