.btn-seds {
    display: inline-block;
    font-weight: 400;
    /*line-height: 1.25;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    /*font-size: 1rem;*/
    border-radius: .25rem;
}

.btn-info-seds {
   color: #fff;
   background-color: #0275d8;
   border-color: #0275d8;
}

.btn-info-seds:hover {
   color: #fff;
   background-color: #025aa5;
   border-color: #01549b;
}


.btn-primary-seds {
   color: #000000;
   background-color: #DFDFDF;
   border-color: #0275d8;
}    
.btn-primary-seds:hover {
   color: #000000;
   background-color: #eeeeee;
   border-color: #01549b;
}