<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--DESENVOLVIMENTO-->
    <add name="PMASContext" connectionString="metadata=res://*/PMAS.csdl|res://*/PMAS.ssdl|res://*/PMAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.0.13\SEDS;initial catalog=DBPMAS_QUADRIENAL_PRODUCAO_OUTUBRO_2018;user id=sa;password=sas&amp;ads2016;multipleactiveresultsets=True;application name=PMASQUADRIENAL&quot;" providerName="System.Data.EntityClient" />
    <!--HOMOLOGACAO-->
    <!--<add name="PMASContext" connectionString="metadata=res://*/PMAS.csdl|res://*/PMAS.ssdl|res://*/PMAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.22.0.13\SEDS;initial catalog=Dbpmas_quadrienal_OUTUBRO_2018_HOMOLOGACAO;user id=sa;password=sas&amp;ads2016;multipleactiveresultsets=True;application name=PMASQUADRIENAL&quot;" providerName="System.Data.EntityClient" />-->
    
    
    
  </connectionStrings>
  <!--<appSettings>
    --><!--<add key="FederationMetadataLocation" value="C:\SVN\Seds.PMAS.QUADRIENAL\Seds.PMAS.QUADRIENAL\Seds.PMAS.QUADRIENAL.UI.Web\FederationMetadata\2007-06\FederationMetadata.xml"/>
    --><!--Configurações para o Web Servide de CEP--><!--
    <add key="ConnectionStringWSHomologa" value="5Ox18HD2PMy77tOl+zxfDqzsWVmACpQ+uibvYmAevhRh9vAu2HFYpjkplcST/fOdQYdwYJjYrCwmLpl0q31stNwbYDwET6tyBvnYaLC7VFAzNQcFmILNWMtEB8UPWIPkyboXvxZDdEea+LZj3iAt7EyBGHNLOag10aFcwR7bj4fmL461s7gmuBXha5+I5cPC4MHDwm7pjhYRCaJ7kwcqF4cbaknUoeTtDQ1t3n5kZNNk+S1QY+oNxuMPmaKDhU7grUQRx/dzxEbaS2NbpW7d7g=="/>
    <add key="ConnectionStringWSSQL2005" value="5Ox18HD2PMy77tOl+zxfDn45T4q/oguBftPQ+RwXmRJOTtEiEZ3RxNp1+/CN+hqiYaRhqriVOPGTzPv6BUX13Idbs0DIXEHyiLIGM99CQ8waxcG/1t3rbRchgfa8Bjmhy998KLBmHOY/OF8NhAQSnGU8ZcpTg2P9dpNvEisW7UNwGuca1aWul3VkpKjzJYif/xk0ymY3qbDEx0XOpBjlyMupsu1Tk3WqrXMH5NHnYcEg7V+DxUfh1L/tCmY8GuxT"/>
    <add key="OrigemWS" value="Homologa"/>
    --><!--Configurações para o Cadastro unico de usuarios--><!--
    --><!--Apontamento para o servidor 0.13--><!--
    <add key="ConnectionStringUsuariosDesenv2005" value="5Ox18HD2PMy77tOl+zxfDn45T4q/oguBftPQ+RwXmRIq5hBRO6xOYkf+xotwYw5oDglD8BBoTdgFQMyophzd3vXjln0tLdmrxz8slO9OtQcJimJCnBnSNDao+NWIkbL65iuUX1fteraY801pdvYGv0TKnnDHX93cIKV5wy0zoV+lcHxzctI8ikQtAj13BdWCwKrtjmCp24FZtBEeOLx9bZ20i03Ng3REFW8lpmHpQqqH5KbxB4lJ2MT9AUltcXea"/>
    --><!--Apontamento para o servidor 0.6--><!--
    --><!--<add key="ConnectionStringUsuariosDesenv2005" value="5Ox18HD2PMy77tOl+zxfDrs46PELj3iScVQ1uTTyhn1Mxai4mV3jvgwfofJpnJSzoKc6NUQVVxU9/bYfSpsEdBT/+lWVWbi6nrExc+4vaJx21hMRezyHq60SlrlqWeoiwPLTMCgvaHE1UK3VdYkdCjMhTetYAZ9yLTkAMnpWeGFjCJWjfh18NIXP61ppk9GVVXRRX88RCtdVMqVoDeNB/S0myA1YNLebI252F7JSE3X2jiL6v78xqGxq5pMpuwIA"/>--><!--
    --><!--<add key="ConnectionStringUsuariosDesenv2005" value="5Ox18HD2PMy77tOl+zxfDvsnBPmHQ4uV7DWu/jb5TxMrSDrurJjINVHsq7p7sa0fFRhAKrW5hDnn7lZQnumVRSQmMiye4X+G4howVxnq2cBYxW5Bn5wgmw0zqnqnOED75+HBy1wRYAhyEvoZEeSz7ajXYP9Knb8r/XNTUpTLyrhKviS7dp0vEJYkyxTPqoslmPLFML1UmpQVqAwvrY9Kh4Acfcb2tLP/wWUELB7Kpin+xqXX94yT1aiOV4sBV+6R"/>--><!--
    <add key="OrigemWEBUsuarios" value="UsuariosDesenv2005"/>
    --><!-- Chave de Criptografia --><!--
    <add key="Chave" value="65, 66, 98, 62, 124, 79, 65, 66, 98, 62, 124, 79, 65, 66, 98, 62, 124, 79, 65, 66, 98, 62, 124, 79|XSDAFGHTRESWQERW"/>
    <add key="Seds.Servicos" value="akmatebncihd88948792#2"/>
    <add key="Seds.PMAS.QUADRIENAL.Servicos" value="4hsybonaoijud441515abhy2"/>
    <add key="Seds.Seguranca.Servicos" value="odnn8njb467672n878287nj"/>
    --><!-- Reporting Services --><!--
    --><!--<add key="URLwsReporting" value="http://10.22.0.6/ReportServer/ReportExecution2005.asmx"/>--><!--
    <add key="URLwsReporting" value="http://10.22.0.13/ReportServer_SEDS/ReportExecution2005.asmx"/>
    <add key="RelUser" value="5jk1BxqZyMkM/CD8x9acRA=="/>
    --><!--<add key="RelPass" value="aqpzk0ruI3+DxV3HaYpPzdkS6kLBAE+83VrNiL0TOcQ="></add>--><!--
    --><!--<add key="RelPass" value="6yiST0PWKUUtm8MWgZXbpH8wEKlBx+F/2MLdUSkjWTc="></add>--><!--
    <add key="RelPass" value="v0zU3xIgLhDpvUvTKRkmUw=="/>
    <add key="CaminhoRelatorio" value="/PMASQUADRIENAL"/>--><!--
    <add key="HTTPCONTEXTKEY" value="Seds.PMAS.QUADRIENAL.Persistencia.Repositorio.HttpContext.Key"/>
    --><!--<add key="URL_WebApi_Seds" value="http://api.homologacao.seds/"/>
    <add key="VersaoPMAS" value="QUADRIENAL"/>
    <add key="Versao" value="1.7"/>--><!--
  </appSettings>-->
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
</configuration>