USE [Dbpmas_quadrienal]
GO
/****** Object:  StoredProcedure [dbo].[PR_RELATORIO_REDE_SERVICOS_SOCIOASSISTENCIAIS_SIMPLES]    Script Date: 28/03/2019 13:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prodesp
-- Create date: 29-01-2019
-- Description:	Procedure para trazer os valores do Relatorio 12 do PMAS
-- =============================================

ALTER PROCEDURE [dbo].[PR_RELATORIO_REDE_SERVICOS_SOCIOASSISTENCIAIS_SIMPLES]
	@ID_EXERCICIO INT
AS
BEGIN

--
--	PUBLICO
--
--
		SELECT distinct
			--------------------------------------------------------------
			-- MUNICIPIO
			--------------------------------------------------------------
			P.ID AS ID_PREFEITURA,
			MUN.ID AS ID_MUNICIPIO,
			MUN.ID_DRADS,
			MUN.NOME AS MUNICIPIO,
			--------------------------------------------------------------
			-- DRADS
			--------------------------------------------------------------
			DRA.NOME AS DRADS,
			COALESCE(MUN.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
			DRA.ID_MACRO_REGIAO,
			P.ID_NIVEL_GESTAO,
			--------------------------------------------------------------
			-- PORTE 
			--------------------------------------------------------------
			(CASE WHEN P.POPULACAO <= 20000 THEN 1
				WHEN   P.POPULACAO <= 50000 THEN 2
				WHEN   P.POPULACAO <= 100000 THEN 3
				WHEN   P.POPULACAO <= 900000 THEN 4
				ELSE 5
			END) AS ID_PORTE,
			(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
				WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
				WHEN   P.POPULACAO <= 100000 THEN 'Médio'
				WHEN   P.POPULACAO <= 900000 THEN 'Grande'
				ELSE 'Metrópole'
			END) AS PORTE,
			--------------------------------------------------------------
			-- REDE DIRETA - PUBLICO
			--------------------------------------------------------------
			'Rede direta' AS TIPO_UNIDADE,
			1 AS ID_TIPO_UNIDADE,
			UN.ID AS CODIGO_UNIDADE,
			ISNULL(L.ID_DISTRITOS_SAO_PAULO,0) AS ID_DISTRITOS_SAO_PAULO,
			DS.NOME AS DISTRITO_SAO_PAULO,
			UN.CNPJ AS CNPJ,
			UN.RAZAO_SOCIAL AS UNIDADE_RESPONSAVEL,
			--------------------------------------------------------------
			-- LOCAL EXECUCAO - PUBLICO
			--------------------------------------------------------------
			CAST(L.ID AS VARCHAR) AS ID_LOCAL,
			L.NOME AS LOCAL_EXECUCAO,
			L.CIDADE AS CIDADE,
			U.NOME AS USUARIOS,
			U.ID AS ID_USUARIO_TIPO_SERVICO,
			--------------------------------------------------------------
			-- TIPO SERVICO - PUBLICO
			--------------------------------------------------------------
			S.NAO_TIPIFICADO,
			(CASE WHEN R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL AND  R.DESCRICAO_NAO_TIPIFICADO <> '' AND TP.ID <> 3 AND S.NAO_TIPIFICADO IS NOT NULL  THEN  'Serviço não tipificado - ' + S.NOME + ' - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN TP.ID = 3 AND R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL THEN 'Serviço não tipificado - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN S.NAO_TIPIFICADO IS NOT NULL THEN 'Servico não tipificado - ' + S.NOME 
					ELSE S.NOME END)  AS TIPO_SERVICO,
			S.ID AS ID_TIPO_SERVICO,
			TP.NOME AS PROTECAO_SOCIAL,
			TP.ID AS ID_TIPO_PROTECAO,
			SX.ID AS ID_SEXO,
			SX.NOME AS SEXO,
			RM.ID AS ID_REGIAO_MORADIA,
			(CASE WHEN RM.ID = 3 THEN 'Zona Urbana e Rural' ELSE RM.NOME END) AS REGIAO_MORADIA,
			CT.ID AS ID_CARACTERISTICAS_TERRITORIO,
			(CASE WHEN CT.ID = 14 THEN 'Não' ELSE CT.NOME END) AS CARACTERISTICAS_TERRITORIO,
			--------------------------------------------------------------
			-- VALORES SERVICOS REDE DIRETA - PUBLICO
			--------------------------------------------------------------
			ISNULL(R1.VALOR_MUNICIPAL_ASSISTENCIA, 0.0) AS VALOR_FMAS,
			ISNULL(R1.VALOR_MUNICIPAL_FMDCA, 0.0) AS VALOR_FMDCA,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA, 0.0) AS VALOR_FEAS,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, 0.0) AS VALOR_FEAS_ANO_ANTERIOR,
			ISNULL(R1.VALOR_ESTADUAL_FEDCA, 0.0) AS VALOR_FEDCA,
			ISNULL(R1.VALOR_FEDERAL_ASSISTENCIA, 0.0) AS VALOR_FNAS,
			ISNULL(R1.VALOR_FEDERAL_FNDCA, 0.0) AS VALOR_FNDCA,
			ISNULL(R1.VALOR_MUNICIPAL_FMI, 0.0) AS VALOR_FMI,
			ISNULL(R1.VALOR_ESTADUAL_FEI, 0.0) AS VALOR_FEI,
			ISNULL(R1.VALOR_FEDERAL_FNI, 0.0) AS VALOR_FNI,
			0.0 AS VALOR_PRIVADO,
			COALESCE((SELECT SUM(FR.[VALOR_FONTE_RECURSO]) FROM TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO_FONTE_RECURSOS FR WHERE FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_PUBLICO = R1.ID),0.0) AS VALOR_FONTE_RECURSO,		
			COALESCE(0,0) AS VALOR_ESTADUALIZADO,
			A.ABREVIACAO AS ABRANGENCIA,
			A.ID AS ID_ABRANGENCIA,
			ISNULL(CONVERT(CHAR(10), R.DATA_FUNCIONAMENTO_SERVICO,103),'') AS DATA_FUNCIONAMENTO_SERVICO,
			--ISNULL(CONVERT(CHAR(16), R.DATA_DESATIVACAO,103),'Em Funcionamento') DATA_DESATIVACAO,
			CASE WHEN R2.ID_MOTIVO_DESATIVACAO = 1 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_EXCLUSAO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 2 THEN ISNULL(CONVERT(CHAR(16),R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 3 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento') 
			WHEN (R2.ID_MOTIVO_DESATIVACAO is null OR R2.ID_MOTIVO_DESATIVACAO = 0) THEN 'Em Funcionamento' END AS DATA_DESATIVACAO,
			--------------------------------------------------------------
			-- NUMERO DE ATENDIDOS 
			--------------------------------------------------------------
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL), 0) AS NUMERO_ATENDIDOS_MENSAL, 
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL_SERVICO), 0) NUMERO_ATENDIDOS_SERVICO_MENSAL,
			COALESCE((R.NUMERO_ATENDIDOS), 0) AS  NUMERO_ATENDIDOS_ANUAL, 
			COALESCE((R.NUMERO_ATENDIDOS_SERVICO), 0)  AS  NUMERO_ATENDIDOS_SERVICO_ANUAL,
			R.TOTAL_FUNCIONARIOS AS TOTAL_TRABALHADORES_SERVICO,
			COALESCE((RH.SEM_ESCOLARIZACAO + RH.NIVEL_FUNDAMENTAL + RH.NIVEL_MEDIO + RH.NIVEL_SUPERIOR),0) AS TOTAL_TRABALHADORES,
			
			--------------------------------------------------------------
			-- MEDIA DE ATENDIMENTO	
			--------------------------------------------------------------
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_2020,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2020,
			R1.EXERCICIO
		FROM TB_PREFEITURA P
		JOIN DBSEDS.DBO.TB_MUNICIPIOS MUN (NOLOCK) ON P.ID_MUNICIPIO = MUN.ID
		JOIN DBSEDS.DBO.TB_DRADS DRA (NOLOCK) ON MUN.ID_DRADS = DRA.ID
		INNER JOIN TB_UNIDADE_PUBLICA UN ON(UN.ID_PREFEITURA = P.ID)
		INNER JOIN TB_LOCAL_EXECUCAO_PUBLICO L ON(L.ID_UNIDADE_PUBLICA = UN.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO R ON(R.ID_LOCAL_EXECUCAO_PUBLICO = L.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PUBLICO AS R1 
		ON (R1.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO = R.ID AND R1.EXERCICIO = @ID_EXERCICIO) 

		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO_RH RH ON (RH.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO = R.ID)
		INNER JOIN TB_ABRANGENCIA_SERVICO A ON(R.ID_ABRANGENCIA_SERVICO = A.ID)
		INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (R.ID_USUARIO_TIPO_SERVICO = U.ID)
		INNER JOIN TB_TIPO_SERVICO S ON (U.ID_TIPO_SERVICO = S.ID)
		INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO R2 
		ON (R2.ID_LOCAL_EXECUCAO_PUBLICO = L.ID AND R2.ID_TIPO_SERVICO = S.ID AND R2.ID_USUARIO_TIPO_SERVICO = U.ID
		 AND R2.EXERCICIO = @ID_EXERCICIO) 

		INNER JOIN TB_TIPO_PROTECAO TP (NOLOCK) ON(TP.ID = S.ID_TIPO_PROTECAO)
		INNER JOIN TB_SEXO SX (NOLOCK) ON(SX.ID = R.ID_SEXO)
		INNER JOIN TB_REGIAO_MORADIA RM (NOLOCK) ON(RM.ID = R.ID_REGIAO_MORADIA)
		INNER JOIN TB_CARACTERISTICAS_TERRITORIO CT (NOLOCK) ON(CT.ID = R.ID_CARACTERISTICAS_TERRITORIO)
		LEFT JOIN TB_DISTRITOS_SAO_PAULO DS (NOLOCK) ON (DS.ID = L.ID_DISTRITOS_SAO_PAULO)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PUBLICO R3 
		ON (R3.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO = R.ID  AND R3.EXERCICIO = @ID_EXERCICIO) 
		WHERE R1.EXERCICIO = @ID_EXERCICIO --????


--
--	PRIVADO
--
--

	UNION ALL
		--REDE INDIRETA
		SELECT distinct
			--------------------------------------------------------------
			-- MUNICIPIO
			--------------------------------------------------------------
			P.ID AS ID_PREFEITURA,
			MUN.ID AS ID_MUNICIPIO,
			MUN.ID_DRADS,
			MUN.NOME AS MUNICIPIO,
			DRA.NOME AS DRADS,
			COALESCE(MUN.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
			DRA.ID_MACRO_REGIAO,
			P.ID_NIVEL_GESTAO,
			--------------------------------------------------------------
			-- PORTE
			--------------------------------------------------------------
			(CASE WHEN P.POPULACAO <= 20000 THEN 1
				WHEN   P.POPULACAO <= 50000 THEN 2
				WHEN   P.POPULACAO <= 100000 THEN 3
				WHEN   P.POPULACAO <= 900000 THEN 4
				ELSE 5
			END) AS ID_PORTE,
			(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
				WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
				WHEN   P.POPULACAO <= 100000 THEN 'Médio'
				WHEN   P.POPULACAO <= 900000 THEN 'Grande'
				ELSE 'Metrópole'
			END) AS PORTE,
			--------------------------------------------------------------
			-- REDE INDIRETA - PRIVADO
			--------------------------------------------------------------
			'Rede Indireta' AS TIPO_UNIDADE,
			2 AS ID_TIPO_UNIDADE,
			UN.ID AS CODIGO_UNIDADE,
			ISNULL(L.ID_DISTRITOS_SAO_PAULO,0) AS ID_DISTRITOS_SAO_PAULO,
			DS.NOME AS DISTRITOS_SAO_PAULO,
			UN.CNPJ AS CNPJ,
			UN.RAZAO_SOCIAL AS UNIDADE_RESPONSAVEL,
			--------------------------------------------------------------
			-- LOCAL EXECUCAO - PRIVADO
			--------------------------------------------------------------
			CAST(L.ID AS VARCHAR) AS ID_LOCAL,
			L.NOME AS LOCAL_EXECUCAO,
			L.CIDADE AS CIDADE,
			U.NOME AS USUARIOS,
			U.ID AS ID_USUARIO_TIPO_SERVICO,
			--------------------------------------------------------------
			-- TIPO SERVICO - PRIVADO
			--------------------------------------------------------------
			S.NAO_TIPIFICADO,
			(CASE WHEN R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL AND  R.DESCRICAO_NAO_TIPIFICADO <> '' AND TP.ID <> 3 AND S.NAO_TIPIFICADO IS NOT NULL  THEN  'Serviço não tipificado - ' + S.NOME + ' - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN TP.ID = 3 AND R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL THEN 'Serviço não tipificado - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN S.NAO_TIPIFICADO IS NOT NULL THEN 'Servico não tipificado - ' + S.NOME 
					ELSE S.NOME END)  AS TIPO_SERVICO,
			S.ID AS ID_TIPO_SERVICO,
			TP.NOME AS PROTECAO_SOCIAL,
			TP.ID AS ID_TIPO_PROTECAO,
			SX.ID AS ID_SEXO,
			SX.NOME AS SEXO,
			RM.ID AS ID_REGIAO_MORADIA,
			(CASE WHEN RM.ID = 3 THEN 'Zona Urbana e Rural' ELSE RM.NOME END) AS REGIAO_MORADIA,
			CT.ID AS ID_CARACTERISTICAS_TERRITORIO,
			case when CT.ID = 14 then 'Não'
			else CT.NOME End AS CARACTERISTICAS_TERRITORIO,
			--------------------------------------------------------------
			-- VALORES SERVICOS - REDE INDIRETA - PRIVADO
			--------------------------------------------------------------
			ISNULL(R3.VALOR_MUNICIPAL_ASSISTENCIA, 0.0) AS VALOR_FMAS,
			ISNULL(R3.VALOR_MUNICIPAL_FMDCA, 0.0) AS VALOR_FMDCA,
			ISNULL(R3.VALOR_ESTADUAL_ASSISTENCIA, 0.0) AS VALOR_FEAS,
			ISNULL(R3.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, 0.0) AS VALOR_FEAS_ANO_ANTERIOR,
			ISNULL(R3.VALOR_ESTADUAL_FEDCA, 0.0) AS VALOR_FEDCA,
			ISNULL(R3.VALOR_FEDERAL_ASSISTENCIA, 0.0) AS VALOR_FNAS,
			ISNULL(R3.VALOR_FEDERAL_FNDCA, 0.0) AS VALOR_FNDCA,
			ISNULL(R3.VALOR_MUNICIPAL_FMI, 0.0) AS VALOR_FMI,
			ISNULL(R3.VALOR_ESTADUAL_FEI, 0.0) AS VALOR_FEI,
			ISNULL(R3.VALOR_FEDERAL_FNI, 0.0) AS VALOR_FNI,
			ISNULL((R.VALOR_PRIVADO_EMPRESAS + R.VALOR_PRIVADO_ORGANIZACOES + R.VALOR_PRIVADO_PESSOAS_FISICAS + R.VALOR_PRIVADO_PROPRIOS + R3.VALOR_RECURSO_EXCLUSIVO_SERVICO ), 0.0) AS VALOR_PRIVADO,
			COALESCE((SELECT SUM(FR.[VALOR_FONTE_RECURSO]) FROM TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO_FONTE_RECURSOS AS FR WHERE ( FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_PRIVADO = R3.ID )),0.0) AS VALOR_FONTE_RECURSO,
			COALESCE(R3.VALOR_ESTADUALIZADO,0) AS VALOR_ESTADUALIZADO,

			A.ABREVIACAO AS ABRANGENCIA,
			A.ID AS ID_ABRANGENCIA,
			ISNULL(CONVERT(CHAR(10), R.DATA_FUNCIONAMENTO_SERVICO,103),'') AS DATA_FUNCIONAMENTO_SERVICO,
			
			CASE WHEN R2.ID_MOTIVO_DESATIVACAO = 1 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_EXCLUSAO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 2 THEN ISNULL(CONVERT(CHAR(16),R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 3 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento') 
			WHEN (R2.ID_MOTIVO_DESATIVACAO is NULL OR R2.ID_MOTIVO_DESATIVACAO = 0) THEN 'Em Funcionamento' END AS DATA_DESATIVACAO,
			--------------------------------------------------------------
			-- NUMERO DE ATENDIDOS
			--------------------------------------------------------------
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL), 0) AS NUMERO_ATENDIDOS_MENSAL, 
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL_SERVICO), 0) NUMERO_ATENDIDOS_SERVICO_MENSAL,
			COALESCE((R.NUMERO_ATENDIDOS), 0) AS  NUMERO_ATENDIDOS_ANUAL, 
			COALESCE((R.NUMERO_ATENDIDOS_SERVICO), 0)  AS  NUMERO_ATENDIDOS_SERVICO_ANUAL,
			R.TOTAL_FUNCIONARIOS AS TOTAL_TRABALHADORES_SERVICO,
			COALESCE((RH.SEM_ESCOLARIZACAO + RH.NIVEL_FUNDAMENTAL + RH.NIVEL_MEDIO + RH.NIVEL_SUPERIOR),0) AS TOTAL_TRABALHADORES,
			--------------------------------------------------------------
			-- MEDIA ATENDIDOS
			--------------------------------------------------------------
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_2020,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2020,
			R3.EXERCICIO
		FROM TB_PREFEITURA P
		JOIN DBSEDS.DBO.TB_MUNICIPIOS MUN (NOLOCK) ON P.ID_MUNICIPIO = MUN.ID
		JOIN DBSEDS.DBO.TB_DRADS DRA (NOLOCK) ON MUN.ID_DRADS = DRA.ID
		INNER JOIN TB_UNIDADE_PRIVADA UN ON(UN.ID_PREFEITURA = P.ID)
		INNER JOIN TB_LOCAL_EXECUCAO_PRIVADO L ON(L.ID_UNIDADE_PRIVADA = UN.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO R ON(R.ID_LOCAL_EXECUCAO_PRIVADO = L.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PRIVADO R3 ON (R3.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = R.ID 
		 AND R3.EXERCICIO = @ID_EXERCICIO) 

		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO_RH RH ON(RH.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = R.ID)
		INNER JOIN TB_ABRANGENCIA_SERVICO A ON(R.ID_ABRANGENCIA_SERVICO = A.ID)
		INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (R.ID_USUARIO_TIPO_SERVICO = U.ID)
		INNER JOIN TB_TIPO_SERVICO S ON (U.ID_TIPO_SERVICO = S.ID)
		INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO R2 ON (R2.ID_LOCAL_EXECUCAO_PRIVADO = L.ID and R2.ID_TIPO_SERVICO = S.ID and R2.ID_USUARIO_TIPO_SERVICO = U.ID )

		INNER JOIN TB_TIPO_PROTECAO TP (NOLOCK) ON(TP.ID = S.ID_TIPO_PROTECAO)
		INNER JOIN TB_SEXO SX (NOLOCK) ON(SX.ID = R.ID_SEXO)
		INNER JOIN TB_REGIAO_MORADIA RM (NOLOCK) ON(RM.ID = R.ID_REGIAO_MORADIA)
		INNER JOIN TB_CARACTERISTICAS_TERRITORIO CT (NOLOCK) ON(CT.ID = R.ID_CARACTERISTICAS_TERRITORIO)
		LEFT JOIN TB_DISTRITOS_SAO_PAULO DS (NOLOCK) ON (DS.ID = L.ID_DISTRITOS_SAO_PAULO)

	UNION ALL

		---
		--- REDE DIRETA - CRAS
		---
		SELECT distinct 
			--------------------------------------------------------------
			-- MUNICIPIO
			--------------------------------------------------------------
			P.ID AS ID_PREFEITURA,
			MUN.ID AS ID_MUNICIPIO,
			MUN.ID_DRADS,
			MUN.NOME AS MUNICIPIO,
			DRA.NOME AS DRADS,
			COALESCE(MUN.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
			DRA.ID_MACRO_REGIAO,
			P.ID_NIVEL_GESTAO,
			--------------------------------------------------------------
			-- PORTE
			--------------------------------------------------------------
			(CASE WHEN P.POPULACAO <= 20000 THEN 1
				WHEN   P.POPULACAO <= 50000 THEN 2
				WHEN   P.POPULACAO <= 100000 THEN 3
				WHEN   P.POPULACAO <= 900000 THEN 4
				ELSE 5
			END) AS ID_PORTE,
			(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
				WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
				WHEN   P.POPULACAO <= 100000 THEN 'Médio'
				WHEN   P.POPULACAO <= 900000 THEN 'Grande'
				ELSE 'Metrópole'
			END) AS PORTE,
			--------------------------------------------------------------
			-- REDE DIRETA - CRAS
			--------------------------------------------------------------
			'Rede direta' AS TIPO_UNIDADE,
			3 AS ID_TIPO_UNIDADE,
			UP.ID AS CODIGO_UNIDADE,
			ISNULL(C.ID_DISTRITOS_SAO_PAULO,0) AS ID_DISTRITOS_SAO_PAULO,
			DS.NOME AS DISTRITO_SAO_PAULO,
			UP.CNPJ AS CNPJ,
			UP.RAZAO_SOCIAL AS UNIDADE_RESPONSAVEL,
			C.IDCRAS AS ID_LOCAL,
			C.NOME AS LOCAL_EXECUCAO,
			C.CIDADE AS CIDADE,
			U.NOME AS USUARIOS,
			U.ID AS ID_USUARIO_TIPO_SERVICO,
			--------------------------------------------------------------
			-- TIPO SERVICO - CRAS
			--------------------------------------------------------------
			S.NAO_TIPIFICADO,
			(CASE WHEN R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL AND  R.DESCRICAO_NAO_TIPIFICADO <> '' AND TP.ID <> 3 AND S.NAO_TIPIFICADO IS NOT NULL  THEN  'Serviço não tipificado - ' + S.NOME + ' - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN TP.ID = 3 AND R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL THEN 'Serviço não tipificado - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN S.NAO_TIPIFICADO IS NOT NULL THEN 'Servico não tipificado - ' + S.NOME 
					ELSE S.NOME END)  AS TIPO_SERVICO,

			S.ID AS ID_TIPO_SERVICO,
			TP.NOME AS PROTECAO_SOCIAL,
			TP.ID AS ID_TIPO_PROTECAO,
			SX.ID AS ID_SEXO,
			SX.NOME AS SEXO,
			RM.ID AS ID_REGIAO_MORADIA,
			(CASE WHEN RM.ID = 3 THEN 'Zona Urbana e Rural' ELSE RM.NOME END) AS REGIAO_MORADIA,
			CT.ID AS ID_CARACTERISTICAS_TERRITORIO,
			case when CT.ID = 14 then 'Não'
			else CT.NOME End AS CARACTERISTICAS_TERRITORIO,
			--------------------------------------------------------------
			-- VALORES SERVICOS - REDE DIRETA - CRAS
			--------------------------------------------------------------
			ISNULL(R1.VALOR_MUNICIPAL_ASSISTENCIA, 0.0) AS VALOR_FMAS,
			ISNULL(R1.VALOR_MUNICIPAL_FMDCA, 0.0) AS VALOR_FMDCA,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA, 0.0) AS VALOR_FEAS,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, 0.0) AS VALOR_FEAS_ANO_ANTERIOR,
			ISNULL(R1.VALOR_ESTADUAL_FEDCA, 0.0) AS VALOR_FEDCA,
			ISNULL(R1.VALOR_FEDERAL_ASSISTENCIA, 0.0) AS VALOR_FNAS,
			ISNULL(R1.VALOR_FEDERAL_FNDCA, 0.0) AS VALOR_FNDCA,
			ISNULL(R1.VALOR_MUNICIPAL_FMI, 0.0) AS VALOR_FMI,
			ISNULL(R1.VALOR_ESTADUAL_FEI, 0.0) AS VALOR_FEI,
			ISNULL(R1.VALOR_FEDERAL_FNI, 0.0) AS VALOR_FNI,
			0.0 AS VALOR_PRIVADO,
			COALESCE((SELECT SUM(FR.[VALOR_FONTE_RECURSO]) 
					  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS_FONTE_RECURSOS AS FR 
					  WHERE ( FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_CRAS = R1.ID )),0.0) AS VALOR_FONTE_RECURSO,
			0 AS VALOR_ESTADUALIZADO,

			A.ABREVIACAO AS ABRANGENCIA,
			A.ID AS ID_ABRANGENCIA,
			ISNULL(CONVERT(CHAR(10), R.DATA_FUNCIONAMENTO_SERVICO,103),'') AS DATA_FUNCIONAMENTO_SERVICO,
			
			CASE WHEN R2.ID_MOTIVO_DESATIVACAO = 1 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_EXCLUSAO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 2 THEN ISNULL(CONVERT(CHAR(16),R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 3 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento') 
			WHEN (R2.ID_MOTIVO_DESATIVACAO is NULL OR R2.ID_MOTIVO_DESATIVACAO = 0) THEN 'Em Funcionamento' END AS DATA_DESATIVACAO,

			--------------------------------------------------------------
			-- NUMERO ATENDIDOS - REDE DIRETA - CRAS
			--------------------------------------------------------------
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL), 0) AS NUMERO_ATENDIDOS_MENSAL, 
			0 as NUMERO_ATENDIDOS_SERVICO_MENSAL,
			COALESCE((R.NUMERO_ATENDIDOS), 0) AS  NUMERO_ATENDIDOS_ANUAL, 
			 0  AS  NUMERO_ATENDIDOS_SERVICO_ANUAL,
			R.TOTAL_FUNCIONARIOS AS TOTAL_TRABALHADORES_SERVICO,
			COALESCE((RH.NIVEL_FUNDAMENTAL + RH.NIVEL_MEDIO + RH.NIVEL_SUPERIOR + RH.SEM_ESCOLARIZACAO),0) AS TOTAL_TRABALHADORES,
			--------------------------------------------------------------
			-- MEDIA ATENDIDOS - REDE DIRETA - CRAS
			--------------------------------------------------------------
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_2020,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2020,
			R1.EXERCICIO
		FROM TB_PREFEITURA P
		JOIN DBSEDS.DBO.TB_MUNICIPIOS MUN (NOLOCK) ON P.ID_MUNICIPIO = MUN.ID
		JOIN DBSEDS.DBO.TB_DRADS DRA (NOLOCK) ON MUN.ID_DRADS = DRA.ID
		INNER JOIN TB_UNIDADE_PUBLICA UP ON(UP.ID_PREFEITURA = P.ID) 
		INNER JOIN TB_CRAS C ON(C.ID_UNIDADE_PUBLICA = UP.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS R ON(R.ID_CRAS = C.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS_RH RH ON (RH.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS = R.ID)

		INNER JOIN TB_ABRANGENCIA_SERVICO A ON(R.ID_ABRANGENCIA_SERVICO = A.ID)
		INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (R.ID_USUARIO_TIPO_SERVICO = U.ID)
		INNER JOIN TB_TIPO_SERVICO S ON (U.ID_TIPO_SERVICO = S.ID)

		INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_CRAS R2 
		ON (R2.ID_CRAS = C.ID and R2.ID_TIPO_SERVICO = S.ID and R2.ID_USUARIO_TIPO_SERVICO = U.ID AND R2.EXERCICIO = @ID_EXERCICIO) 

		INNER JOIN TB_TIPO_PROTECAO TP ON(TP.ID = S.ID_TIPO_PROTECAO)
		INNER JOIN TB_SEXO SX ON(SX.ID = R.ID_SEXO)
		INNER JOIN TB_REGIAO_MORADIA RM ON(RM.ID = R.ID_REGIAO_MORADIA)
		INNER JOIN TB_CARACTERISTICAS_TERRITORIO CT ON(CT.ID = R.ID_CARACTERISTICAS_TERRITORIO)
		LEFT JOIN TB_DISTRITOS_SAO_PAULO DS ON (DS.ID = C.ID_DISTRITOS_SAO_PAULO)

		INNER JOIN TB_UNIDADE_PUBLICA UN (NOLOCK) ON(UN.ID_PREFEITURA = P.ID)
		INNER JOIN TB_CRAS L (NOLOCK) ON(L.ID_UNIDADE_PUBLICA = UN.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CRAS R1 (NOLOCK) 
		ON (R1.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS = R.ID AND R1.EXERCICIO = @ID_EXERCICIO) 
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS_FONTE_RECURSOS AS FR 
			ON (FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_CRAS = R1.ID)
			--GROUP BY  
			--		  P.ID, MUN.ID, MUN.ID_DRADS, MUN.NOME, DRA.NOME, MUN.ID_REGIAO_METROPOLITANA, DRA.ID_MACRO_REGIAO, P.ID_NIVEL_GESTAO
			--		, P.POPULACAO, UP.ID, C.ID_DISTRITOS_SAO_PAULO, DS.NOME, UP.CNPJ, UP.RAZAO_SOCIAL, C.IDCRAS, C.NOME, C.CIDADE, U.NOME, U.ID, S.NAO_TIPIFICADO, S.ID, TP.NOME, TP.ID, SX.ID, SX.NOME, RM.ID, RM.NOME, CT.ID, CT.NOME, R1.VALOR_MUNICIPAL_ASSISTENCIA, R1.VALOR_MUNICIPAL_FMDCA
			--		, R1.VALOR_ESTADUAL_ASSISTENCIA, R1.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, R1.VALOR_ESTADUAL_FEDCA, R1.VALOR_FEDERAL_ASSISTENCIA, R1.VALOR_FEDERAL_FNDCA, R1.VALOR_MUNICIPAL_FMI, R1.VALOR_ESTADUAL_FEI
			--		, R1.VALOR_FEDERAL_FNI, FR.[VALOR_FONTE_RECURSO], A.ABREVIACAO, A.ID, R.DATA_FUNCIONAMENTO_SERVICO, R2.ID_MOTIVO_DESATIVACAO
			--		, R2.DATA_EXCLUSAO_SERVICO, R2.DATA_ENCERRAMENTO_SERVICO, R.NUMERO_ATENDIDOS_MENSAL, R.NUMERO_ATENDIDOS, R.TOTAL_FUNCIONARIOS, RH.NIVEL_FUNDAMENTAL, RH.NIVEL_MEDIO, RH.NIVEL_SUPERIOR, RH.SEM_ESCOLARIZACAO
			--		, R.MEDIA_MENSAL_ATENDIMENTO_2017, R.MEDIA_MENSAL_ATENDIMENTO_2018, R.MEDIA_MENSAL_ATENDIMENTO_2019, R.MEDIA_MENSAL_ATENDIMENTO_2020, R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017
			--		, R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, R1.EXERCICIO, R.DESCRICAO_NAO_TIPIFICADO  , S.NAO_TIPIFICADO , S.NOME



	UNION ALL

		SELECT distinct 
			--------------------------------------------------------------
			-- MUNICIPIO
			--------------------------------------------------------------
			P.ID AS ID_PREFEITURA,
			MUN.ID AS ID_MUNICIPIO,
			MUN.ID_DRADS,
			MUN.NOME AS MUNICIPIO,
			DRA.NOME AS DRADS,
			COALESCE(MUN.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
			DRA.ID_MACRO_REGIAO,
			P.ID_NIVEL_GESTAO,
			--------------------------------------------------------------
			-- PORTE
			--------------------------------------------------------------
			(CASE WHEN P.POPULACAO <= 20000 THEN 1
				WHEN   P.POPULACAO <= 50000 THEN 2
				WHEN   P.POPULACAO <= 100000 THEN 3
				WHEN   P.POPULACAO <= 900000 THEN 4
				ELSE 5
			END) AS ID_PORTE,
			(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
				WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
				WHEN   P.POPULACAO <= 100000 THEN 'Médio'
				WHEN   P.POPULACAO <= 900000 THEN 'Grande'
				ELSE 'Metrópole'
			END) AS PORTE,
			--------------------------------------------------------------
			-- REDE DIRETA - CREAS
			--------------------------------------------------------------
			'Rede direta' AS TIPO_UNIDADE,
			4 AS ID_TIPO_UNIDADE,
			UP.ID AS CODIGO_UNIDADE,
			ISNULL(C.ID_DISTRITOS_SAO_PAULO,0) AS ID_DISTRITOS_SAO_PAULO,
			DS.NOME AS DISTRITO_SAO_PAULO,
			UP.CNPJ AS CNPJ,
			UP.RAZAO_SOCIAL AS UNIDADE_RESPONSAVEL,
			C.IDCREAS AS ID_LOCAL,
			C.NOME AS LOCAL_EXECUCAO,
			C.CIDADE AS CIDADE,
			U.NOME AS USUARIOS,
			U.ID AS ID_USUARIO_TIPO_SERVICO,
			--------------------------------------------------------------
			-- TIPO SERVICO
			--------------------------------------------------------------
			S.NAO_TIPIFICADO,
			(CASE WHEN R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL AND  R.DESCRICAO_NAO_TIPIFICADO <> '' AND TP.ID <> 3 AND S.NAO_TIPIFICADO IS NOT NULL  THEN  'Serviço não tipificado - ' + S.NOME + ' - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN TP.ID = 3 AND R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL THEN 'Serviço não tipificado - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN S.NAO_TIPIFICADO IS NOT NULL THEN 'Servico não tipificado - ' + S.NOME 
					ELSE S.NOME END)  AS TIPO_SERVICO,
			S.ID AS ID_TIPO_SERVICO,

			TP.NOME AS PROTECAO_SOCIAL,
			TP.ID AS ID_TIPO_PROTECAO,
			SX.ID AS ID_SEXO,
			SX.NOME AS SEXO,
			RM.ID AS ID_REGIAO_MORADIA,
			(CASE WHEN RM.ID = 3 THEN 'Zona Urbana e Rural' ELSE RM.NOME END) AS REGIAO_MORADIA,
			CT.ID AS ID_CARACTERISTICAS_TERRITORIO,
			case when CT.ID = 14 then 'Não'
			else CT.NOME End AS CARACTERISTICAS_TERRITORIO,
			--------------------------------------------------------------
			-- VALORES SERVICOS - REDE DIRETA - CREAS
			--------------------------------------------------------------
			ISNULL(R1.VALOR_MUNICIPAL_ASSISTENCIA, 0.0) AS VALOR_FMAS,
			ISNULL(R1.VALOR_MUNICIPAL_FMDCA, 0.0) AS VALOR_FMDCA,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA, 0.0) AS VALOR_FEAS,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, 0.0) AS VALOR_FEAS_ANO_ANTERIOR,
			ISNULL(R1.VALOR_ESTADUAL_FEDCA, 0.0) AS VALOR_FEDCA,
			ISNULL(R1.VALOR_FEDERAL_ASSISTENCIA, 0.0) AS VALOR_FNAS,
			ISNULL(R1.VALOR_FEDERAL_FNDCA, 0.0) AS VALOR_FNDCA,
			ISNULL(R1.VALOR_MUNICIPAL_FMI, 0.0) AS VALOR_FMI,
			ISNULL(R1.VALOR_ESTADUAL_FEI, 0.0) AS VALOR_FEI,
			ISNULL(R1.VALOR_FEDERAL_FNI, 0.0) AS VALOR_FNI,
			0.0 AS VALOR_PRIVADO,
			COALESCE((SELECT SUM(FR.[VALOR_FONTE_RECURSO]) 
						FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS_FONTE_RECURSOS AS FR 
						WHERE ( FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_CREAS = R1.ID )), 0.0)
					 AS VALOR_FONTE_RECURSO,
					0 AS VALOR_ESTADUALIZADO,

			A.ABREVIACAO AS ABRANGENCIA,
			A.ID AS ID_ABRANGENCIA,
			ISNULL(CONVERT(CHAR(10), R.DATA_FUNCIONAMENTO_SERVICO,103),'') AS DATA_FUNCIONAMENTO_SERVICO,
			
			CASE WHEN R2.ID_MOTIVO_DESATIVACAO = 1 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_EXCLUSAO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 2 THEN ISNULL(CONVERT(CHAR(16),R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 3 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento') 
			WHEN (R2.ID_MOTIVO_DESATIVACAO is NULL OR R2.ID_MOTIVO_DESATIVACAO = 0) THEN 'Em Funcionamento' END AS DATA_DESATIVACAO,
			--------------------------------------------------------------
			-- NUMERO ATENDIDOS - CREAS
			--------------------------------------------------------------
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL), 0) AS NUMERO_ATENDIDOS_MENSAL, 
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL_SERVICO), 0) NUMERO_ATENDIDOS_SERVICO_MENSAL,
			COALESCE((R.NUMERO_ATENDIDOS), 0) AS  NUMERO_ATENDIDOS_ANUAL, 
			COALESCE((R.NUMERO_ATENDIDOS_SERVICO), 0)  AS  NUMERO_ATENDIDOS_SERVICO_ANUAL,
			R.TOTAL_FUNCIONARIOS AS TOTAL_TRABALHADORES_SERVICO,
			COALESCE((RH.NIVEL_FUNDAMENTAL + RH.NIVEL_MEDIO + RH.NIVEL_SUPERIOR + RH.SEM_ESCOLARIZACAO),0) AS TOTAL_TRABALHADORES,

			--------------------------------------------------------------
			-- MEDIA ATENDIDOS - CREAS
			--------------------------------------------------------------
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_2020,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2020,
			R1.EXERCICIO

		FROM TB_PREFEITURA P
		JOIN DBSEDS.DBO.TB_MUNICIPIOS MUN (NOLOCK) ON P.ID_MUNICIPIO = MUN.ID
		JOIN DBSEDS.DBO.TB_DRADS DRA (NOLOCK) ON MUN.ID_DRADS = DRA.ID
		INNER JOIN TB_UNIDADE_PUBLICA UP ON(UP.ID_PREFEITURA = P.ID)
		INNER JOIN TB_CREAS C ON(C.ID_UNIDADE_PUBLICA = UP.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS R ON(R.ID_CREAS = C.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS_RH RH ON (RH.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = R.ID)

		INNER JOIN TB_ABRANGENCIA_SERVICO A ON(R.ID_ABRANGENCIA_SERVICO = A.ID)
		INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (R.ID_USUARIO_TIPO_SERVICO = U.ID)
		INNER JOIN TB_TIPO_SERVICO S ON (U.ID_TIPO_SERVICO = S.ID)
		INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_CREAS R2 ON (R2.ID_CREAS = C.ID and r2.ID_TIPO_SERVICO = s.ID and r2.ID_USUARIO_TIPO_SERVICO = u.ID)
		INNER JOIN TB_TIPO_PROTECAO TP ON(TP.ID = S.ID_TIPO_PROTECAO)
		INNER JOIN TB_SEXO SX ON(SX.ID = R.ID_SEXO)
		INNER JOIN TB_REGIAO_MORADIA RM ON(RM.ID = R.ID_REGIAO_MORADIA)
		INNER JOIN TB_CARACTERISTICAS_TERRITORIO CT ON(CT.ID = R.ID_CARACTERISTICAS_TERRITORIO)
		LEFT JOIN TB_DISTRITOS_SAO_PAULO DS ON (DS.ID = C.ID_DISTRITOS_SAO_PAULO)

		INNER JOIN TB_UNIDADE_PUBLICA UN (NOLOCK) ON(UN.ID_PREFEITURA = P.ID)
		INNER JOIN TB_CREAS L (NOLOCK) ON(L.ID_UNIDADE_PUBLICA = UN.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CREAS R1 (NOLOCK) 
		ON (R1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = R.ID AND R1.EXERCICIO = @ID_EXERCICIO)


  UNION ALL

		SELECT distinct
			--------------------------------------------------------------
			-- MUNICIPIO
			--------------------------------------------------------------
			P.ID AS ID_PREFEITURA,
			MUN.ID AS ID_MUNICIPIO,
			MUN.ID_DRADS,
			MUN.NOME AS MUNICIPIO,
			DRA.NOME AS DRADS,
			COALESCE(MUN.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
			DRA.ID_MACRO_REGIAO,
			P.ID_NIVEL_GESTAO,
			--------------------------------------------------------------
			-- PORTE
			--------------------------------------------------------------
			(CASE WHEN P.POPULACAO <= 20000 THEN 1
				WHEN   P.POPULACAO <= 50000 THEN 2
				WHEN   P.POPULACAO <= 100000 THEN 3
				WHEN   P.POPULACAO <= 900000 THEN 4
				ELSE 5
			END) AS ID_PORTE,
			(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
				WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
				WHEN   P.POPULACAO <= 100000 THEN 'Médio'
				WHEN   P.POPULACAO <= 900000 THEN 'Grande'
				ELSE 'Metrópole'
			END) AS PORTE,
			--------------------------------------------------------------
			-- REDE DIRETA - CENTRO POP
			--------------------------------------------------------------
			'Rede direta' AS TIPO_UNIDADE,
			5 AS ID_TIPO_UNIDADE,
			UP.ID AS CODIGO_UNIDADE,
			ISNULL(C.ID_DISTRITOS_SAO_PAULO,0) AS ID_DISTRITOS_SAO_PAULO,
			DS.NOME AS DISTRITO_SAO_PAULO,
			UP.CNPJ AS CNPJ,
			UP.RAZAO_SOCIAL AS UNIDADE_RESPONSAVEL,
			C.IDCREAS AS ID_LOCAL,
			C.NOME AS LOCAL_EXECUCAO,
			C.CIDADE AS CIDADE,
			U.NOME AS USUARIOS,
			U.ID AS ID_USUARIO_TIPO_SERVICO,
			--------------------------------------------------------------
			-- TIPO SERVICO - REDE DIRETA - CENTRO POP
			--------------------------------------------------------------
			S.NAO_TIPIFICADO,
			(CASE WHEN R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL AND  R.DESCRICAO_NAO_TIPIFICADO <> '' AND TP.ID <> 3 AND S.NAO_TIPIFICADO IS NOT NULL  THEN  'Serviço não tipificado - ' + S.NOME + ' - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN TP.ID = 3 AND R.DESCRICAO_NAO_TIPIFICADO IS NOT NULL THEN 'Serviço não tipificado - ' + R.DESCRICAO_NAO_TIPIFICADO 
					WHEN S.NAO_TIPIFICADO IS NOT NULL THEN 'Servico não tipificado - ' + S.NOME 
					ELSE S.NOME END)  AS TIPO_SERVICO,
			S.ID AS ID_TIPO_SERVICO,

			TP.NOME AS PROTECAO_SOCIAL,
			TP.ID AS ID_TIPO_PROTECAO,
			SX.ID AS ID_SEXO,
			SX.NOME AS SEXO,
			RM.ID AS ID_REGIAO_MORADIA,
			(CASE WHEN RM.ID = 3 THEN 'Zona Urbana e Rural' ELSE RM.NOME END) AS REGIAO_MORADIA,
			CT.ID AS ID_CARACTERISTICAS_TERRITORIO,
			case when CT.ID = 14 then 'Não'
			else CT.NOME End AS CARACTERISTICAS_TERRITORIO,
			--------------------------------------------------------------
			-- VALORES SERVICOS - REDE DIRETA - CENTRO POP
			--------------------------------------------------------------
			ISNULL(R1.VALOR_MUNICIPAL_ASSISTENCIA, 0.0) AS VALOR_FMAS,
			ISNULL(R1.VALOR_MUNICIPAL_FMDCA, 0.0) AS VALOR_FMDCA,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA, 0.0) AS VALOR_FEAS,
			ISNULL(R1.VALOR_ESTADUAL_ASSISTENCIA_ANO_ANTERIOR, 0.0) AS VALOR_FEAS_ANO_ANTERIOR,
			ISNULL(R1.VALOR_ESTADUAL_FEDCA, 0.0) AS VALOR_FEDCA,
			ISNULL(R1.VALOR_FEDERAL_ASSISTENCIA, 0.0) AS VALOR_FNAS,
			ISNULL(R1.VALOR_FEDERAL_FNDCA, 0.0) AS VALOR_FNDCA,
			ISNULL(R1.VALOR_MUNICIPAL_FMI, 0.0) AS VALOR_FMI,
			ISNULL(R1.VALOR_ESTADUAL_FEI, 0.0) AS VALOR_FEI,
			ISNULL(R1.VALOR_FEDERAL_FNI, 0.0) AS VALOR_FNI,
			0.0 AS VALOR_PRIVADO,
			COALESCE((SELECT SUM(FR.[VALOR_FONTE_RECURSO])
					  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP_FONTE_RECURSOS AS FR
					  WHERE ( FR.ID_SERVICO_RECURSO_FINANCEIRO_FUNDO_CENTRO_POP = R1.ID )), 0.0) AS VALOR_FONTE_RECURSO,
			COALESCE(R3.VALOR_ESTADUALIZADO,0) AS VALOR_ESTADUALIZADO,

			A.ABREVIACAO AS ABRANGENCIA,
			A.ID AS ID_ABRANGENCIA,
			ISNULL(CONVERT(CHAR(10), R.DATA_FUNCIONAMENTO_SERVICO,103),'') AS DATA_FUNCIONAMENTO_SERVICO,
			
			CASE WHEN R2.ID_MOTIVO_DESATIVACAO = 1 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_EXCLUSAO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 2 THEN ISNULL(CONVERT(CHAR(16),R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento')
			WHEN R2.ID_MOTIVO_DESATIVACAO = 3 THEN ISNULL(CONVERT(CHAR(16), R2.DATA_ENCERRAMENTO_SERVICO,103),'Em Funcionamento') 
			WHEN (R2.ID_MOTIVO_DESATIVACAO is NULL OR R2.ID_MOTIVO_DESATIVACAO = 0) THEN 'Em Funcionamento' END AS DATA_DESATIVACAO,

			--------------------------------------------------------------
			-- NUMERO ATENDIDOS - REDE DIRETA - CENTRO POP
			--------------------------------------------------------------
			COALESCE((R.NUMERO_ATENDIDOS_MENSAL), 0) AS NUMERO_ATENDIDOS_MENSAL, 
			0 AS NUMERO_ATENDIDOS_SERVICO_MENSAL,
			COALESCE((R.NUMERO_ATENDIDOS), 0) AS  NUMERO_ATENDIDOS_ANUAL, 
			0 AS  NUMERO_ATENDIDOS_SERVICO_ANUAL,
			R.TOTAL_FUNCIONARIOS AS TOTAL_TRABALHADORES_SERVICO,
			COALESCE((RH.NIVEL_FUNDAMENTAL + RH.NIVEL_MEDIO + RH.NIVEL_SUPERIOR + RH.SEM_ESCOLARIZACAO),0) AS TOTAL_TRABALHADORES,
			--------------------------------------------------------------
			-- MEDIA ATENDIDOS - REDE DIRETA - CENTRO POP
			--------------------------------------------------------------
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_2020,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2017, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2017,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2018, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2018,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2019, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2019,
			COALESCE(R.MEDIA_MENSAL_ATENDIMENTO_PSC_2020, 0) AS MEDIA_MENSAL_ATENDIMENTO_PSC_2020,
			R1.EXERCICIO

		FROM TB_PREFEITURA P
		JOIN DBSEDS.DBO.TB_MUNICIPIOS MUN (NOLOCK) ON P.ID_MUNICIPIO = MUN.ID
		JOIN DBSEDS.DBO.TB_DRADS DRA (NOLOCK) ON MUN.ID_DRADS = DRA.ID
		INNER JOIN TB_UNIDADE_PUBLICA UP ON(UP.ID_PREFEITURA = P.ID)
		INNER JOIN TB_CENTRO_POP C ON(C.ID_UNIDADE_PUBLICA = UP.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP R ON(R.ID_CENTRO_POP = C.ID)
		INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP_RH RH on (RH.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP = R.ID )


		INNER JOIN TB_ABRANGENCIA_SERVICO A ON(R.ID_ABRANGENCIA_SERVICO = A.ID)
		INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (R.ID_USUARIO_TIPO_SERVICO = U.ID)
		INNER JOIN TB_TIPO_SERVICO S ON (U.ID_TIPO_SERVICO = S.ID)

		INNER JOIN TB_TIPO_PROTECAO TP ON(TP.ID = S.ID_TIPO_PROTECAO)

		--INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_CRAS R2       ON (R2.ID_CRAS = C.ID       and R2.ID_TIPO_SERVICO = S.ID and R2.ID_USUARIO_TIPO_SERVICO = U.ID AND R2.EXERCICIO = @ID_EXERCICIO) 
		INNER JOIN VW_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP R2 ON (R2.ID_CENTRO_POP = C.ID and R2.ID_USUARIO_TIPO_SERVICO = U.ID and R2.ID_TIPO_SERVICO = S.ID AND R2.EXERCICIO = @ID_EXERCICIO)

		INNER JOIN TB_SEXO SX ON(SX.ID = R.ID_SEXO)
		INNER JOIN TB_REGIAO_MORADIA RM ON(RM.ID = R.ID_REGIAO_MORADIA)
		INNER JOIN TB_CARACTERISTICAS_TERRITORIO CT ON(CT.ID = R.ID_CARACTERISTICAS_TERRITORIO)
		LEFT JOIN TB_DISTRITOS_SAO_PAULO DS ON (DS.ID = C.ID_DISTRITOS_SAO_PAULO)

		INNER JOIN TB_UNIDADE_PUBLICA UN (NOLOCK) ON(UN.ID_PREFEITURA = P.ID)
		LEFT JOIN TB_LOCAL_EXECUCAO_PUBLICO L ON(L.ID_UNIDADE_PUBLICA = UN.ID)
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CENTRO_POP R1 (NOLOCK)
			ON (R1.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP = R.ID AND R1.EXERCICIO = @ID_EXERCICIO) 
		LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PRIVADO R3 
			ON (R3.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = L.ID  AND R3.EXERCICIO = @ID_EXERCICIO) 

END
