UPDATE  [dbo].[TB_USUARIO_TRANSFERENCIA_RENDA]  SET NOME = 'Crianças de 1 ano a 5 anos e 11 meses e idosos acima de 60 anos cujas famílias tenham renda mensal de até ¼ do salário mínimo'
where ID = 10

ALTER TABLE TB_PREFEITURA ADD [DESBLOQUEAR_VALORES_DRADS] [bit] NULL

ALTER TABLE [dbo].[TB_FUNDO_MUNICIPAL] ADD [VALOR_CUSTEIO] [money] NULL 

ALTER TABLE [dbo].[TB_INDICE_GESTAO_DESCENTRALIZADA] ADD [COMENTARIOS_EXECUCAO_FINANCEIRA] [varchar](max) NULL

INSERT INTO [dbo].[TB_RECURSOxPERFIL]  (ID_RECURSO , ID_PERFIL) Values( 70, 48) 
INSERT INTO [dbo].[TB_RECURSOxPERFIL]  (ID_RECURSO , ID_PERFIL) Values( 70, 49) 
INSERT INTO [dbo].[TB_RECURSOxPERFIL]  (ID_RECURSO , ID_PERFIL) Values( 70, 50) 
 

ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_1 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_2 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_3 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_4 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_5 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_6 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_7 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_8 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_9 MONEY 
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_10 MONEY
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_11 MONEY
ALTER TABLE [dbo].[TB_CRONOGRAMA_DESEMBOLSO] ADD OBRAS_MES_12 MONEY   


  INSERT INTO [dbo].[TB_CRONOGRAMA_DESEMBOLSO] 
  (
	   [ID_PREFEITURA]
      ,[ID_TIPO_PROTECAO]
      ,[ID_TIPO_UNIDADE]
      ,[RH_MES_1]
      ,[RH_MES_2]
      ,[RH_MES_3]
      ,[RH_MES_4]
      ,[RH_MES_5]
      ,[RH_MES_6]
      ,[RH_MES_7]
      ,[RH_MES_8]
      ,[RH_MES_9]
      ,[RH_MES_10]
      ,[RH_MES_11]
      ,[RH_MES_12]
      ,[MATERIAL_CONSUMO_MES_1]
      ,[MATERIAL_CONSUMO_MES_2]
      ,[MATERIAL_CONSUMO_MES_3]
      ,[MATERIAL_CONSUMO_MES_4]
      ,[MATERIAL_CONSUMO_MES_5]
      ,[MATERIAL_CONSUMO_MES_6]
      ,[MATERIAL_CONSUMO_MES_7]
      ,[MATERIAL_CONSUMO_MES_8]
      ,[MATERIAL_CONSUMO_MES_9]
      ,[MATERIAL_CONSUMO_MES_10]
      ,[MATERIAL_CONSUMO_MES_11]
      ,[MATERIAL_CONSUMO_MES_12]
      ,[SERVICOS_TERCEIROS_MES_1]
      ,[SERVICOS_TERCEIROS_MES_2]
      ,[SERVICOS_TERCEIROS_MES_3]
      ,[SERVICOS_TERCEIROS_MES_4]
      ,[SERVICOS_TERCEIROS_MES_5]
      ,[SERVICOS_TERCEIROS_MES_6]
      ,[SERVICOS_TERCEIROS_MES_7]
      ,[SERVICOS_TERCEIROS_MES_8]
      ,[SERVICOS_TERCEIROS_MES_9]
      ,[SERVICOS_TERCEIROS_MES_10]
      ,[SERVICOS_TERCEIROS_MES_11]
      ,[SERVICOS_TERCEIROS_MES_12]
      ,[INVESTIMENTO_MES_1]
      ,[INVESTIMENTO_MES_2]
      ,[INVESTIMENTO_MES_3]
      ,[INVESTIMENTO_MES_4]
      ,[INVESTIMENTO_MES_5]
      ,[INVESTIMENTO_MES_6]
      ,[INVESTIMENTO_MES_7]
      ,[INVESTIMENTO_MES_8]
      ,[INVESTIMENTO_MES_9]
      ,[INVESTIMENTO_MES_10]
      ,[INVESTIMENTO_MES_11]
      ,[INVESTIMENTO_MES_12]
      ,[OBRAS_MES_1]
      ,[OBRAS_MES_2]
      ,[OBRAS_MES_3]
      ,[OBRAS_MES_4]
      ,[OBRAS_MES_5]
      ,[OBRAS_MES_6]
      ,[OBRAS_MES_7]
      ,[OBRAS_MES_8]
      ,[OBRAS_MES_9]
      ,[OBRAS_MES_10]
      ,[OBRAS_MES_11]
      ,[OBRAS_MES_12])
	   (SELECT ID 
	 ,5
      ,2
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
      ,'0.00'
	  FROM TB_PREFEITURA
	  )

/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO]    Script Date: 24/08/2015 10:23:39 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO]    Script Date: 24/08/2015 11:36:57 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO]
  AS
  SELECT S.ID
		,S.ID_LOCAL_EXECUCAO_PUBLICO
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(CASE WHEN ID_TIPO_SERVICO_NAO_TIPIFICADO IS NOT NULL THEN ('Serviço não tipificado pela Resolução n° 109 do CNAS, de 11/11/2009 - '
		 + CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN T.NOME ELSE (
		  CASE WHEN ID_TIPO_PROTECAO = 3 THEN  DESCRICAO_NAO_TIPIFICADO ELSE( T.NOME + ' - ' + DESCRICAO_NAO_TIPIFICADO)END)END)
		 ELSE (T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE ( + ' - ' + DESCRICAO_NAO_TIPIFICADO)END)) --(T.NOME)
		END)  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS AS PREVISAO_ANUAL_NUMERO_ATENDIDOS
		,S.NUMERO_ATENDIDOS_MENSAL AS PREVISAO_MENSAL_NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		,S.SERVICO_ESTADUALIZADO
		,COALESCE((S.VALOR_MUNICIPAL_ASSISTENCIA + S.VALOR_MUNICIPAL_FMDCA + S.VALOR_ESTADUAL_ASSISTENCIA + S.VALOR_ESTADUAL_FEDCA + S.VALOR_FEDERAL_ASSISTENCIA + S.VALOR_FEDERAL_FNDCA + ISNULL(S.VALOR_MUNICIPAL_FMI, 0.0) + ISNULL(S.VALOR_ESTADUAL_FEI, 0.0) + ISNULL(S.VALOR_FEDERAL_FNI, 0) + COALESCE(S.VALOR_ESTADUALIZADO,0)),0) AS PREVISAO_ORCAMENTARIA
		,(COALESCE(S.VALOR_ESTADUAL_ASSISTENCIA,0) + COALESCE(S.VALOR_ESTADUALIZADO,0)) AS VALOR_COFINANCIAMENTO_ESTADUAL
		,((Select Count(C.ID) FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C 
		   where C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO = S.ID)
		 + (Select Count(C.ID) FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C 
		 where C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO = S.ID)) AS TOTAL_SERVICOS_ASSOCIADOS 
  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO S
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)



GO
/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO]    Script Date: 24/08/2015 11:02:12 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--VISÃO DOS SERVIÇOS E RECURSOS FINANCEIROS PÚBLICO
  ALTER VIEW [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO]
  AS
   SELECT S.ID
		,S.ID_LOCAL_EXECUCAO_PRIVADO
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(CASE WHEN ID_TIPO_SERVICO_NAO_TIPIFICADO IS NOT NULL THEN ('Serviço não tipificado pela Resolução n° 109 do CNAS, de 11/11/2009 - '
		 + CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN T.NOME ELSE (
		  CASE WHEN ID_TIPO_PROTECAO = 3 THEN  DESCRICAO_NAO_TIPIFICADO ELSE( T.NOME + ' - ' + DESCRICAO_NAO_TIPIFICADO)END)END)
		 ELSE (T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE ( + ' - ' + DESCRICAO_NAO_TIPIFICADO)END)) --(T.NOME)
		END)  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS AS PREVISAO_ANUAL_NUMERO_ATENDIDOS
		,S.NUMERO_ATENDIDOS_MENSAL AS PREVISAO_MENSAL_NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		,S.SERVICO_ESTADUALIZADO
		,COALESCE((S.VALOR_MUNICIPAL_ASSISTENCIA + S.VALOR_MUNICIPAL_FMDCA + S.VALOR_ESTADUAL_ASSISTENCIA + S.VALOR_ESTADUAL_FEDCA + S.VALOR_FEDERAL_ASSISTENCIA + S.VALOR_FEDERAL_FNDCA + COALESCE(S.VALOR_ESTADUALIZADO,0) + S.VALOR_PRIVADO_EMPRESAS + S.VALOR_PRIVADO_PESSOAS_FISICAS + s.VALOR_PRIVADO_ORGANIZACOES + S.VALOR_PRIVADO_PROPRIOS + ISNULL(S.VALOR_MUNICIPAL_FMI, 0.0) + ISNULL(S.VALOR_ESTADUAL_FEI, 0.0) + ISNULL(S.VALOR_FEDERAL_FNI, 0)),0) AS PREVISAO_ORCAMENTARIA
		,(COALESCE(S.VALOR_ESTADUAL_ASSISTENCIA,0)) AS VALOR_COFINANCIAMENTO_ESTADUAL
		,((Select Count(C.ID) FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C 
		   where C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = S.ID)
		 + (Select Count(C.ID) FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C 
		 where C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = S.ID)) AS TOTAL_SERVICOS_ASSOCIADOS 
  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO S
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

GO


/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CRAS]    Script Date: 24/08/2015 11:03:30 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--VISÃO DOS SERVIÇOS E RECURSOS FINANCEIROS CRAS
  ALTER VIEW [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CRAS]
  AS
  SELECT S.ID
		,S.ID_CRAS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,((CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN T.NOME ELSE ('Serviço não tipificado pela Resolução nº 109 do CNAS, de 11/11/2009 - ' + T.NOME + ' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS AS PREVISAO_ANUAL_NUMERO_ATENDIDOS
		,S.NUMERO_ATENDIDOS_MENSAL AS PREVISAO_MENSAL_NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		,S.SERVICO_ESTADUALIZADO
		,COALESCE((S.VALOR_MUNICIPAL_ASSISTENCIA + S.VALOR_MUNICIPAL_FMDCA + S.VALOR_ESTADUAL_ASSISTENCIA + S.VALOR_ESTADUAL_FEDCA + S.VALOR_FEDERAL_ASSISTENCIA + S.VALOR_FEDERAL_FNDCA + ISNULL(S.VALOR_MUNICIPAL_FMI, 0.0) + ISNULL(S.VALOR_ESTADUAL_FEI, 0.0) + ISNULL(S.VALOR_FEDERAL_FNI, 0) + COALESCE(S.VALOR_ESTADUALIZADO,0)),0) AS PREVISAO_ORCAMENTARIA
		,(COALESCE(S.VALOR_ESTADUAL_ASSISTENCIA,0) + COALESCE(S.VALOR_ESTADUALIZADO,0)) AS VALOR_COFINANCIAMENTO_ESTADUAL
		,((Select Count(C.ID) FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C 
		   where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS = S.ID)
		 + (Select Count(C.ID) FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C 
		 where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS = S.ID)) AS TOTAL_SERVICOS_ASSOCIADOS  
  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS S
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

GO

/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CREAS]    Script Date: 24/08/2015 11:04:43 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CREAS]
  AS
  SELECT S.ID
		,S.ID_CREAS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
	,((CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN T.NOME ELSE ('Serviço não tipificado pela Resolução nº 109 do CNAS, de 11/11/2009 - ' + T.NOME + ' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS AS PREVISAO_ANUAL_NUMERO_ATENDIDOS
		,S.NUMERO_ATENDIDOS_MENSAL AS PREVISAO_MENSAL_NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		,S.SERVICO_ESTADUALIZADO
		,COALESCE((S.VALOR_MUNICIPAL_ASSISTENCIA + S.VALOR_MUNICIPAL_FMDCA + S.VALOR_ESTADUAL_ASSISTENCIA + S.VALOR_ESTADUAL_FEDCA + S.VALOR_FEDERAL_ASSISTENCIA + S.VALOR_FEDERAL_FNDCA + ISNULL(S.VALOR_MUNICIPAL_FMI, 0.0) + ISNULL(S.VALOR_ESTADUAL_FEI, 0.0) + ISNULL(S.VALOR_FEDERAL_FNI, 0) + COALESCE(S.VALOR_ESTADUALIZADO,0)),0) AS PREVISAO_ORCAMENTARIA
		,(COALESCE(S.VALOR_ESTADUAL_ASSISTENCIA,0) + COALESCE(S.VALOR_ESTADUALIZADO,0)) AS VALOR_COFINANCIAMENTO_ESTADUAL
	 	,((Select Count(C.ID) FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C 
		   where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = S.ID)
		 + (Select Count(C.ID) FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C 
		 where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = S.ID)) AS TOTAL_SERVICOS_ASSOCIADOS 
  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS S
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

GO

/****** Object:  View [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP]    Script Date: 24/08/2015 11:05:30 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--VISÃO DOS SERVIÇOS E RECURSOS FINANCEIROS CENTRO_POP
  ALTER VIEW [dbo].[VW_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP]
  AS
  SELECT S.ID
		,S.ID_CENTRO_POP
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,((CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN T.NOME ELSE ('Serviço não tipificado pela Resolução nº 109 do CNAS, de 11/11/2009 - ' + T.NOME + ' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS AS PREVISAO_ANUAL_NUMERO_ATENDIDOS
		,S.NUMERO_ATENDIDOS_MENSAL AS PREVISAO_MENSAL_NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		,S.SERVICO_ESTADUALIZADO
		,COALESCE((S.VALOR_MUNICIPAL_ASSISTENCIA + S.VALOR_MUNICIPAL_FMDCA + S.VALOR_ESTADUAL_ASSISTENCIA + S.VALOR_ESTADUAL_FEDCA + S.VALOR_FEDERAL_ASSISTENCIA + S.VALOR_FEDERAL_FNDCA + ISNULL(S.VALOR_MUNICIPAL_FMI, 0.0) + ISNULL(S.VALOR_ESTADUAL_FEI, 0.0) + ISNULL(S.VALOR_FEDERAL_FNI, 0) + COALESCE(S.VALOR_ESTADUALIZADO,0)),0) AS PREVISAO_ORCAMENTARIA
		,(COALESCE(S.VALOR_ESTADUAL_ASSISTENCIA,0) + COALESCE(S.VALOR_ESTADUALIZADO,0)) AS VALOR_COFINANCIAMENTO_ESTADUAL
	 	,((Select Count(C.ID) FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C 
		   where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP = S.ID)
		 + (Select Count(C.ID) FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C 
		 where C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP = S.ID)) AS TOTAL_SERVICOS_ASSOCIADOS 
  FROM TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP S
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)


GO



	
	
	



