USE [Dbpmas_quadrienal]
GO

ALTER PROCEDURE [dbo].[PR_RELATORIO_INFORMACOES_MUNICIPAIS_BASICAS]

 @DATA_CRIACAO DATETIME 

AS   
     	
	SELECT

		P.ID,
		M.COD_IBGE AS IBGE,
		M.NOME AS MUNICIPIO,
		D.NOME AS DRADS, 
		S.NOME AS SITUACAO,
		G.NOME AS NIVEL_GESTAO,

		(CASE WHEN P.POPULACAO <= 20000 THEN 'Pequeno I'
			WHEN   P.POPULACAO <= 50000 THEN 'Pequeno II'
			WHEN   P.POPULACAO <= 100000 THEN 'Médio'
			WHEN   P.POPULACAO <= 900000 THEN 'Grande'
			ELSE 'Metrópole'
		END) AS PORTE,

		(CASE WHEN P.POPULACAO <= 20000 THEN 1
			WHEN   P.POPULACAO <= 50000 THEN 2
			WHEN   P.POPULACAO <= 100000 THEN 3
			WHEN   P.POPULACAO <= 900000 THEN 4
			ELSE 5
		END) AS ID_PORTE,

		P.POPULACAO AS HABITANTES,

		(SELECT COUNT(*) FROM TB_CRAS C 	WHERE C.ID in(SELECT
		ID_CRAS
		FROM TB_LOGxCRAS LC 
		join TB_LOG L on  L.ID = LC.ID_LOG
		WHERE L.ID_ACAO = 1 AND ID_QUADRO = 21 AND LC.DATA_CRIACAO <= @DATA_CRIACAO AND LC.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID) AND LC.ID_CRAS NOT IN(
		SELECT LC.ID_CRAS FROM 
		TB_LOGxCRAS LC 
		JOIN TB_LOG L ON L.ID  = LC.ID_LOG	
		WHERE LC.DATA_CRIACAO <= @DATA_CRIACAO AND L.ID_QUADRO = 21 AND L.ID_ACAO = 4 AND LC.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID)))) AS CRAS_IMPLANTADOS,
		
		(SELECT COUNT(*) FROM TB_PREVISAO_INSTALACAO_CRAS C WHERE C.ID_PREFEITURA = P.ID) AS CRAS_PREVISTOS,
		(SELECT MIN(DATA) FROM TB_PREVISAO_INSTALACAO_CRAS C WHERE C.ID_PREFEITURA = P.ID) AS CRAS_PROXIMA_INSTALACAO,

		(SELECT COUNT(*) FROM TB_CREAS C WHERE C.ID in (SELECT
		ID_CREAS
		FROM TB_LOGxCREAS LC 
		join TB_LOG L on  L.ID = LC.ID_LOG
		WHERE L.ID_ACAO = 1 AND ID_QUADRO = 26 AND LC.DATA_CRIACAO <= @DATA_CRIACAO AND LC.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID) AND LC.ID_CREAS NOT IN(
		SELECT LC.ID_CREAS FROM 
		TB_LOGxCREAS LC 
		JOIN TB_LOG L ON L.ID  = LC.ID_LOG	
		WHERE LC.DATA_CRIACAO <= @DATA_CRIACAO AND L.ID_QUADRO = 26 AND L.ID_ACAO = 4 AND LC.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID)))) AS CREAS_IMPLANTADOS,
		
		(SELECT COUNT(*) FROM TB_PREVISAO_INSTALACAO_CREAS C WHERE C.ID_PREFEITURA = P.ID) AS CREAS_PREVISTOS,
		(SELECT MIN(DATA) FROM TB_PREVISAO_INSTALACAO_CREAS C WHERE C.ID_PREFEITURA = P.ID) AS CREAS_PROXIMA_INSTALACAO,
		
		(SELECT COUNT(*) FROM TB_CENTRO_POP C WHERE C.ID in (SELECT
		ID_CENTRO_POP
		FROM TB_LOGxCENTRO_POP LCP 
		join TB_LOG L on  L.ID = LCP.ID_LOG
		WHERE L.ID_ACAO = 1 AND ID_QUADRO = 32 AND LCP.DATA_CRIACAO <= @DATA_CRIACAO AND LCP.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID) AND LCP.ID_CENTRO_POP NOT IN(
		SELECT LCP.ID_CENTRO_POP FROM 
		TB_LOGxCENTRO_POP LCP 
		JOIN TB_LOG L ON L.ID  = LCP.ID_LOG	
		WHERE L.ID_ACAO = 4 AND L.ID_QUADRO = 32 AND LCP.DATA_CRIACAO <= @DATA_CRIACAO AND LCP.ID_UNIDADE IN(SELECT U.ID FROM TB_UNIDADE_PUBLICA U WHERE U.ID_PREFEITURA = P.ID)))) AS CENTRO_POP_IMPLANTADOS,
		
		
		(SELECT COUNT(*) FROM TB_PREVISAO_INSTALACAO_CENTRO_POP C WHERE C.ID_PREFEITURA = P.ID) AS CENTRO_POP_PREVISTOS,
		(SELECT MIN(DATA) FROM TB_PREVISAO_INSTALACAO_CENTRO_POP C WHERE C.ID_PREFEITURA = P.ID) AS CENTRO_POP_PROXIMA_INSTALACAO,

		M.ID AS ID_MUNICIPIO,
		M.ID_DRADS AS ID_DRADS,
		COALESCE(M.ID_REGIAO_METROPOLITANA,-1) AS ID_REGIAO_METROPOLITANA,
		D.ID_MACRO_REGIAO,
		P.ID_NIVEL_GESTAO

	FROM [dbo].[TB_PREFEITURA] P
		INNER JOIN DBSEDS.DBO.TB_MUNICIPIOS M ON(M.ID = P.ID_MUNICIPIO)
		INNER JOIN DBSEDS.DBO.TB_DRADS D ON (D.ID = M.ID_DRADS)
		INNER JOIN TB_SITUACAO S ON(S.ID = P.ID_SITUACAO)
		INNER JOIN TB_NIVEL_GESTAO G ON(G.ID = P.ID_NIVEL_GESTAO)
    ORDER BY M.NOME

go