USE [Dbpmas_quadrienal_DESENV]
GO
/****** Object:  StoredProcedure [dbo].[PR_PROGRAMA_PROJETO_SERVICO_COFINANCIAMENTO]    Script Date: 27/08/2019 16:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[PR_PROGRAMA_PROJETO_SERVICO_COFINANCIAMENTO]
	@ID_SERVICOS_RECURSOS_FINANCEIROS  INT,
	@ID_LOCAL INT
AS  
  SELECT C.ID
		,1 AS TIPO_COFINANCIAMENTO
		,C.ID_PROGRAMA_PROJETO
		,PP.NOME
		,5 AS ID_TIPO_UNIDADE
		,'Centro Pop' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)  --Somente para privado
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
	    , CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN  TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CENTRO_POP S1
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP)
   INNER JOIN TB_PROGRAMA_PROJETO PP ON (PP.ID = C.ID_PROGRAMA_PROJETO)
   INNER JOIN TB_CENTRO_POP L ON(L.ID = S.ID_CENTRO_POP AND S.ID_CENTRO_POP = @ID_LOCAL )
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

  SELECT C.ID
		 ,1 AS TIPO_COFINANCIAMENTO
		,C.ID_PROGRAMA_PROJETO
		,PP.NOME
		,4 AS ID_TIPO_UNIDADE
		,'CREAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CREAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS )
  INNER JOIN TB_CREAS L ON(L.ID = S.ID_CREAS AND S.ID_CREAS = @ID_LOCAL )
   INNER JOIN TB_PROGRAMA_PROJETO PP ON (PP.ID = C.ID_PROGRAMA_PROJETO)
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

  SELECT C.ID
		,1 AS TIPO_COFINANCIAMENTO
		,C.ID_PROGRAMA_PROJETO
		,PP.NOME
		,3 AS ID_TIPO_UNIDADE
		,'CRAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO 
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0) 
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
	 , CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CRAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS)
   INNER JOIN TB_PROGRAMA_PROJETO PP ON (PP.ID = C.ID_PROGRAMA_PROJETO)
    INNER JOIN TB_CRAS L ON(L.ID = S.ID_CRAS AND S.ID_CRAS = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

  SELECT C.ID
		,1 AS TIPO_COFINANCIAMENTO
		,C.ID_PROGRAMA_PROJETO
		,PP.NOME
		,1 AS ID_TIPO_UNIDADE
		,'Rede direta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
	 , CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C
    
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PUBLICO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO)

   INNER JOIN TB_PROGRAMA_PROJETO PP ON (PP.ID = C.ID_PROGRAMA_PROJETO)
  INNER JOIN TB_LOCAL_EXECUCAO_PUBLICO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PUBLICO AND S.ID_LOCAL_EXECUCAO_PUBLICO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PUBLICA L ON (L.ID = E.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (L.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

 SELECT C.ID
		 ,1 AS TIPO_COFINANCIAMENTO
		,C.ID_PROGRAMA_PROJETO
		,PP.NOME
		,2 AS ID_TIPO_UNIDADE
		,'Rede indireta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		, CASE WHEN (S1.SERVICO_ESTADUALIZADO IS NOT NULL) 
				THEN cast(S1.SERVICO_ESTADUALIZADO as bit)  
				ELSE cast(0 as bit) 
				END as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA + 
					COALESCE(S1.VALOR_ESTADUALIZADO,0)
		 ),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
	 , CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PROGRAMA_PROJETO_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PRIVADO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO )

  INNER JOIN TB_PROGRAMA_PROJETO PP ON (PP.ID = C.ID_PROGRAMA_PROJETO)
  INNER JOIN TB_LOCAL_EXECUCAO_PRIVADO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PRIVADO AND S.ID_LOCAL_EXECUCAO_PRIVADO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PRIVADA L ON(L.ID = E.ID_UNIDADE_PRIVADA)
  --E.ID_UNIDADE_PRIVADA)
  INNER JOIN TB_PREFEITURA PRF ON (L.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)
    UNION ALL
   SELECT  C.ID
		,2 AS TIPO_COFINANCIAMENTO
		,C.ID_TRANSFERENCIA_RENDA AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,1 AS ID_TIPO_UNIDADE
		,'Rede direta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA
					--COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
	 , s1.EXERCICIO
  FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO AND  S.ID =  @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PUBLICO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO)

   INNER JOIN TB_TRANSFERENCIA_RENDA TR ON (TR.ID = C.ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_LOCAL_EXECUCAO_PUBLICO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PUBLICO AND S.ID_LOCAL_EXECUCAO_PUBLICO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PUBLICA L ON(L.ID = E.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (L.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
   INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL
   SELECT C.ID
		,2 AS TIPO_COFINANCIAMENTO
		,C.ID_TRANSFERENCIA_RENDA AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,2 AS ID_TIPO_UNIDADE
		,'Rede indireta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		, CASE WHEN (S1.SERVICO_ESTADUALIZADO IS NOT NULL) 
			   THEN cast(S1.SERVICO_ESTADUALIZADO as bit) ELSE cast(0 as bit) 
			   END as SERVICO_ESTADUALIZADO
		, COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					+ COALESCE(S1.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS		 
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO AND S.ID =  @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PRIVADO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO )

  INNER JOIN TB_TRANSFERENCIA_RENDA TR ON (TR.ID = C.ID_TRANSFERENCIA_RENDA)
 INNER JOIN TB_LOCAL_EXECUCAO_PRIVADO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PRIVADO AND S.ID_LOCAL_EXECUCAO_PRIVADO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PRIVADA L ON(L.ID = E.ID_UNIDADE_PRIVADA)
  INNER JOIN TB_PREFEITURA PRF ON (L.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)  
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)
 

UNION ALL

  SELECT  C.ID
		,2 AS TIPO_COFINANCIAMENTO
		,C.ID_TRANSFERENCIA_RENDA AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,3 AS ID_TIPO_UNIDADE
		,'CRAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
	 ,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS		
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C
    INNER JOIN TB_TRANSFERENCIA_RENDA TR ON (TR.ID = C.ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CRAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS )
  INNER JOIN TB_CRAS L ON(L.ID = S.ID_CRAS AND S.ID_CRAS = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (UP.ID = L.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (PRF.ID = UP.ID_PREFEITURA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL
  SELECT C.ID
		,2 AS TIPO_COFINANCIAMENTO
		,C.ID_TRANSFERENCIA_RENDA AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,4 AS ID_TIPO_UNIDADE
		,'CREAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C
   INNER JOIN TB_TRANSFERENCIA_RENDA TR ON (TR.ID = C.ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CREAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS )
  INNER JOIN TB_CREAS L ON(L.ID = S.ID_CREAS AND S.ID_CREAS = @ID_LOCAL)
   INNER JOIN TB_UNIDADE_PUBLICA UP ON (UP.ID = L.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (PRF.ID = UP.ID_PREFEITURA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

    SELECT C.ID
		,2 AS TIPO_COFINANCIAMENTO
		,C.ID_TRANSFERENCIA_RENDA AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,5 AS ID_TIPO_UNIDADE
		,'Centro POP' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_USUARIOS, 0) AS NUMERO_USUARIOS
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_TRANSFERENCIA_RENDA_COFINANCIAMENTO C
     INNER JOIN TB_TRANSFERENCIA_RENDA TR ON (TR.ID = C.ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN  TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CENTRO_POP S1
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP )
  INNER JOIN TB_CENTRO_POP L ON(L.ID = S.ID_CENTRO_POP AND S.ID_CENTRO_POP = @ID_LOCAL)
   INNER JOIN TB_UNIDADE_PUBLICA UP ON (UP.ID = L.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (PRF.ID = UP.ID_PREFEITURA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
    INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

	----


	    UNION ALL
   SELECT  C.ID
		,3 AS TIPO_COFINANCIAMENTO
		,C.ID_PREFEITURA_BENEFICIO_EVENTUAL AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,1 AS ID_TIPO_UNIDADE
		,'Rede direta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_BENEFICIARIOS, 0) AS NUMERO_USUARIOS
	 , CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PREFEITURA_BENEFICIO_EVENTUAL_SERVICOS C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO AND  S.ID =  @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PUBLICO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO )
  INNER JOIN TB_PREFEITURA_BENEFICIO_EVENTUAL TP ON (TP.ID = C.ID_PREFEITURA_BENEFICIO_EVENTUAL)
  INNER JOIN TB_TIPO_BENEFICIO_EVENTUAL TR ON (TR.ID =  TP.ID_TIPO_BENEFICIO_EVENTUAL)
  INNER JOIN TB_LOCAL_EXECUCAO_PUBLICO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PUBLICO AND S.ID_LOCAL_EXECUCAO_PUBLICO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PUBLICA L ON(L.ID = E.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_PREFEITURA PRF ON (PRF.ID = L.ID_PREFEITURA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
   INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL
   SELECT C.ID
		,3 AS TIPO_COFINANCIAMENTO
		,C.ID_PREFEITURA_BENEFICIO_EVENTUAL AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,2 AS ID_TIPO_UNIDADE
		,'Rede indireta' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		, CASE WHEN (S1.SERVICO_ESTADUALIZADO IS NOT NULL)
			   THEN cast(S1.SERVICO_ESTADUALIZADO as bit) 
			   ELSE cast(0 as bit) END as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					+ COALESCE(S1.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_BENEFICIARIOS, 0) AS NUMERO_USUARIOS		 
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PREFEITURA_BENEFICIO_EVENTUAL_SERVICOS C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO AND S.ID =  @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_PRIVADO S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO )
  INNER JOIN TB_PREFEITURA_BENEFICIO_EVENTUAL TP ON (TP.ID = C.ID_PREFEITURA_BENEFICIO_EVENTUAL)
  INNER JOIN TB_TIPO_BENEFICIO_EVENTUAL TR ON (TR.ID =  TP.ID_TIPO_BENEFICIO_EVENTUAL)
  INNER JOIN TB_LOCAL_EXECUCAO_PRIVADO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PRIVADO AND S.ID_LOCAL_EXECUCAO_PRIVADO = @ID_LOCAL)
  INNER JOIN TB_UNIDADE_PRIVADA L ON(L.ID = E.ID_UNIDADE_PRIVADA)
  INNER JOIN TB_PREFEITURA PRF ON (L.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)  
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)
 

UNION ALL

  SELECT  C.ID
		,3 AS TIPO_COFINANCIAMENTO
		,C.ID_PREFEITURA_BENEFICIO_EVENTUAL AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,3 AS ID_TIPO_UNIDADE
		,'CRAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
	 ,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_BENEFICIARIOS, 0) AS NUMERO_USUARIOS		
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PREFEITURA_BENEFICIO_EVENTUAL_SERVICOS C

  INNER JOIN TB_PREFEITURA_BENEFICIO_EVENTUAL TP ON (TP.ID = C.ID_PREFEITURA_BENEFICIO_EVENTUAL)
  INNER JOIN TB_TIPO_BENEFICIO_EVENTUAL TR ON (TR.ID =  TP.ID_TIPO_BENEFICIO_EVENTUAL)  
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CRAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS )
  INNER JOIN TB_CRAS L ON(L.ID = S.ID_CRAS AND S.ID_CRAS = @ID_LOCAL )
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL
  SELECT C.ID
		,3 AS TIPO_COFINANCIAMENTO
		,C.ID_PREFEITURA_BENEFICIO_EVENTUAL AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,4 AS ID_TIPO_UNIDADE
		,'CREAS' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_BENEFICIARIOS, 0) AS NUMERO_USUARIOS
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PREFEITURA_BENEFICIO_EVENTUAL_SERVICOS C

  INNER JOIN TB_PREFEITURA_BENEFICIO_EVENTUAL TP ON (TP.ID = C.ID_PREFEITURA_BENEFICIO_EVENTUAL)
  INNER JOIN TB_TIPO_BENEFICIO_EVENTUAL TR ON (TR.ID =  TP.ID_TIPO_BENEFICIO_EVENTUAL)  
  
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CREAS S1 
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS )

  INNER JOIN TB_CREAS L ON(L.ID = S.ID_CREAS AND S.ID_CREAS = @ID_LOCAL )
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
  INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)

  UNION ALL

    SELECT C.ID
		,3 AS TIPO_COFINANCIAMENTO
		,C.ID_PREFEITURA_BENEFICIO_EVENTUAL AS ID_PROGRAMA_PROJETO
		,TR.NOME
		,5 AS ID_TIPO_UNIDADE
		,'Centro POP' AS TIPO_UNIDADE
		,L.ID AS ID_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,S.NUMERO_ATENDIDOS
		,A.ABREVIACAO AS ABRANGENCIA
		--,S.SERVICO_ESTADUALIZADO
		, cast(0 as bit) as SERVICO_ESTADUALIZADO
		,COALESCE((S1.VALOR_MUNICIPAL_ASSISTENCIA + 
					S1.VALOR_MUNICIPAL_FMDCA + 
					S1.VALOR_ESTADUAL_ASSISTENCIA + 
					S1.VALOR_ESTADUAL_FEDCA + 
					S1.VALOR_FEDERAL_ASSISTENCIA + 
					S1.VALOR_FEDERAL_FNDCA 
					--+ COALESCE(S.VALOR_ESTADUALIZADO,0)
					),0) AS PREVISAO_ORCAMENTARIA
		,isnull(C.NUMERO_BENEFICIARIOS, 0) AS NUMERO_USUARIOS
		, CASE WHEN s1.EXERCICIO IS NULL THEN 2018 ELSE S1.EXERCICIO END AS EXERCICIO
  FROM TB_PREFEITURA_BENEFICIO_EVENTUAL_SERVICOS C

  INNER JOIN TB_PREFEITURA_BENEFICIO_EVENTUAL TP ON (TP.ID = C.ID_PREFEITURA_BENEFICIO_EVENTUAL)
  INNER JOIN TB_TIPO_BENEFICIO_EVENTUAL TR ON (TR.ID =  TP.ID_TIPO_BENEFICIO_EVENTUAL)  
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP AND S.ID = @ID_SERVICOS_RECURSOS_FINANCEIROS)
  LEFT JOIN  TB_SERVICOS_RECURSOS_FINANCEIROS_FUNDOS_CENTRO_POP S1
	ON(S.ID = S1.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP )

  INNER JOIN TB_CENTRO_POP L ON(L.ID = S.ID_CENTRO_POP AND S.ID_CENTRO_POP = @ID_LOCAL )
  INNER JOIN TB_UNIDADE_PUBLICA UP ON (L.ID_UNIDADE_PUBLICA = UP.ID)
  INNER JOIN TB_PREFEITURA PRF ON (UP.ID_PREFEITURA = PRF.ID)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)
   INNER JOIN TB_ABRANGENCIA_SERVICO A ON(A.ID = S.ID_ABRANGENCIA_SERVICO)






