<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Seds.PMAS.QUADRIENAL.UI.Processos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Seds.PMAS.QUADRIENAL.UI.Processos.Properties.Settings>
            <setting name="Seds_PMAS2014_Processos_wsRS_ReportingService"
                serializeAs="String">
                <value>http://10.22.0.13:80/ReportServer_SEDS/ReportExecution2005.asmx</value>
            </setting>
        </Seds.PMAS.QUADRIENAL.UI.Processos.Properties.Settings>
    </applicationSettings>
</configuration>