USE [Dbpmas_quadrienal_DESENV]
GO
/****** Object:  StoredProcedure [dbo].[PR_SUBREPORT_BLOCO_III_PREVISAO_ANUAL]    Script Date: 10/09/2019 20:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[PR_SUBREPORT_BLOCO_III_PREVISAO_ANUAL]

 @ID_PROGRAMA INT 
, @TIPO_PROGRAMA_TRANSFERENCIA_RENDA INT
AS
IF @TIPO_PROGRAMA_TRANSFERENCIA_RENDA = 1
	BEGIN
		SELECT PA.[ID]
		  ,PA.[ID_PROGRAMA]
		  ,PP.[NOME]
		  ,PP.[PROGRAMA_MUNICIPAL]
		  ,PA.[META_PACTUADA_2018]
		  ,PA.[PREVISAO_ANUAL_REPASSE_2018]
		  ,PA.[META_PACTUADA_2019]
		  ,PA.[PREVISAO_ANUAL_REPASSE_2019]
		  ,PA.[META_PACTUADA_2020]
		  ,PA.[PREVISAO_ANUAL_REPASSE_2020]
		  ,PA.[META_PACTUADA_2021]
		  ,PA.[PREVISAO_ANUAL_REPASSE_2021]
		  ,COALESCE(COALESCE(PP1.VALOR_FMAS, 0) + COALESCE(PP1.VALOR_ORCAMENTO_MUNICIPAL, 0) + COALESCE(PP1.VALOR_FUNDO_MUNICIPAL, 0) + 
					COALESCE(PP1.VALOR_FEAS, 0) + COALESCE(PP1.VALOR_ORCAMENTO_ESTADUAL, 0) + COALESCE(PP1.VALOR_FUNDO_ESTADUAL, 0) + 
					COALESCE(PP1.VALOR_FNAS,0) + COALESCE(PP1.VALOR_ORCAMENTO_FEDERAL, 0) + COALESCE(PP1.VALOR_FUNDO_FEDERAL, 0) + 
					COALESCE(PP1.VALOR_IGD_PBF, 0) + COALESCE(PP1.VALOR_IGD_SUAS, 0), 0) AS RECURSOS_FINANCEIROS_MUNICIPAL
	
	  FROM [dbo].[TB_PROGRAMA_PROJETO_PREVISAO_ANUAL_BENEFICIARIOS] PA
	  INNER JOIN [dbo].[TB_PROGRAMA_PROJETO] PP ON PP.ID = PA.ID_PROGRAMA
	  INNER JOIN [TB_PROGRAMA_PROJETO_RECURSOS_FINANCEIROS] PP1 ON PP1.ID_PROGRAMA_PROJETO = PP.ID 
	  WHERE PA.[ID_PROGRAMA] = @ID_PROGRAMA

	END
IF @TIPO_PROGRAMA_TRANSFERENCIA_RENDA = 2
	BEGIN
		SELECT 
		   PA.[ID]
		  ,PA.[ID_TRANSFERENCIA_RENDA]  AS [ID_PROGRAMA]
		  ,PP.[NOME]
		  ,0 as [PROGRAMA_MUNICIPAL]
		  ,COALESCE(PA.[NUMERO_FAMILIAS_2017], 0) AS [META_PACTUADA_2018]
		  ,COALESCE(PA.[REPASSE_MENSAL_2017] * 12, 0) AS [PREVISAO_ANUAL_REPASSE_2018]
		  ,COALESCE(PA.[NUMERO_FAMILIAS_2018], 0) AS [META_PACTUADA_2019]
		  ,COALESCE(PA.[REPASSE_MENSAL_2018] * 12, 0) AS [PREVISAO_ANUAL_REPASSE_2019]
		  ,COALESCE(PA.[NUMERO_FAMILIAS_2019], 0) AS [META_PACTUADA_2020]
		  ,COALESCE(PA.[REPASSE_MENSAL_2019] * 12, 0) AS [PREVISAO_ANUAL_REPASSE_2020]
		  ,COALESCE(PA.[NUMERO_FAMILIAS_2020], 0) AS [META_PACTUADA_2021]
		  ,COALESCE(PA.[REPASSE_MENSAL_2020] * 12, 0) AS [PREVISAO_ANUAL_REPASSE_2021]
		  ,COALESCE(COALESCE(PP.VALOR_FMAS, 0) + COALESCE(PP.VALOR_ORCAMENTO_MUNICIPAL, 0) + COALESCE(PP.VALOR_FUNDO_MUNICIPAL, 0) + 
					COALESCE(PP.VALOR_FEAS, 0) + COALESCE(PP.VALOR_ORCAMENTO_ESTADUAL, 0) + COALESCE(PP.VALOR_FUNDO_ESTADUAL, 0) + 
					COALESCE(PP.VALOR_FNAS,0) + COALESCE(PP.VALOR_ORCAMENTO_FEDERAL, 0) + COALESCE(PP.VALOR_FUNDO_FEDERAL, 0) + 
					COALESCE(PP.VALOR_IGD_PBF, 0) + COALESCE(PP.VALOR_IGD_SUAS, 0), 0) AS RECURSOS_FINANCEIROS_MUNICIPAL
		  ,NULL AS [DATA_REPASSE_DIA_IDOSO] 
		  ,NULL AS [DATA_REPASSE_CONVIVENCIA_IDOSO]
		  ,NULL AS [VALOR_DIA_IDOSO]
		  ,NULL AS [VALOR_CONVIVENCIA_IDOSO]
	  FROM [dbo].[TB_TRANSFERENCIA_RENDAXPREVISAO_ANUAL] PA
	  INNER JOIN [dbo].[TB_TRANSFERENCIA_RENDA] PP ON PP.ID = PA.ID_TRANSFERENCIA_RENDA
	  --WHERE PA.[ID_TRANSFERENCIA_RENDA] = @ID_PROGRAMA
	  WHERE PA.[ID_TRANSFERENCIA_RENDA] = @ID_PROGRAMA 
	  

	END
IF @TIPO_PROGRAMA_TRANSFERENCIA_RENDA = 3
 BEGIN
	SELECT DISTINCT
	    PA.[ID]
      , PP.[ID]  AS [ID_PROGRAMA]
	  , 'Ações Estratégicas do PETI - Programa de Erradicação do Trabalho Infantil' AS [NOME]
	  , 0 as [PROGRAMA_MUNICIPAL]
      , COALESCE(COALESCE(PA.[IDADE_10_13_ANO_2017], 0) + COALESCE(PA.[IDADE_14_15_ANO_2017], 0) + COALESCE(PA.[IDADE_16_17_ANO_2017], 0)   ,0)AS [META_PACTUADA_2018]
      , COALESCE(PP.[VALOR_AEPETI] * 12, 0) AS [PREVISAO_ANUAL_REPASSE_2018]
      , COALESCE(COALESCE(PA.[IDADE_10_13_ANO_2018], 0) + COALESCE(PA.[IDADE_14_15_ANO_2018], 0) + COALESCE(PA.[IDADE_16_17_ANO_2018], 0)   ,0)AS [META_PACTUADA_2019]
      , 0 AS [PREVISAO_ANUAL_REPASSE_2019]
      , COALESCE(COALESCE(PA.[IDADE_10_13_ANO_2019], 0) + COALESCE(PA.[IDADE_14_15_ANO_2020], 0) + COALESCE(PA.[IDADE_16_17_ANO_2019], 0)   ,0)AS [META_PACTUADA_2020]
      , 0 AS [PREVISAO_ANUAL_REPASSE_2020]
      , COALESCE(COALESCE(PA.[IDADE_10_13_ANO_2020], 0) + COALESCE(PA.[IDADE_14_15_ANO_2020], 0) + COALESCE(PA.[IDADE_16_17_ANO_2020], 0)   ,0)AS [META_PACTUADA_2021]
      , 0 AS [PREVISAO_ANUAL_REPASSE_2021]
	  , COALESCE(COALESCE(PP.VALOR_FMAS, 0) + COALESCE(PP.VALOR_ORCAMENTO_MUNICIPAL, 0) + COALESCE(PP.VALOR_FUNDO_MUNICIPAL, 0) 
	  + COALESCE(PP.VALOR_FEAS, 0) + COALESCE(PP.VALOR_ORCAMENTO_ESTADUAL, 0) + COALESCE(PP.VALOR_FUNDO_ESTADUAL, 0) 
	  + COALESCE(PP.VALOR_FNAS,0) + COALESCE(PP.VALOR_ORCAMENTO_FEDERAL, 0) + COALESCE(PP.VALOR_FUNDO_FEDERAL, 0) 
	  + COALESCE(PP.VALOR_IGD_PBF, 0) + COALESCE(PP.VALOR_IGD_SUAS, 0), 0) AS RECURSOS_FINANCEIROS_MUNICIPAL
	  ,NULL AS [DATA_REPASSE_DIA_IDOSO] 
	  ,NULL AS [DATA_REPASSE_CONVIVENCIA_IDOSO]
	  ,NULL AS [VALOR_DIA_IDOSO]
	  ,NULL AS [VALOR_CONVIVENCIA_IDOSO]
  FROM  [dbo].[TB_TRANSFERENCIA_RENDA] PP 
  INNER JOIN [TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA] PP1 ON(PP.ID = PP1.ID_TRANSFERENCIA_RENDA)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS PCRAS  ON(PP1.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS = PCRAS.ID)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS PCREAS  ON(PP1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = PCREAS.ID)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP PCP  ON(PP1.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP = PCP.ID)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO PPUBLICO  ON(PP1.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS = PPUBLICO.ID)
  LEFT JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO PPRIVADO ON(PP1.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO = PPRIVADO.ID)
  INNER JOIN [dbo].[TB_PREFEITURA] PR ON PP.ID_PREFEITURA = PR.ID
  INNER JOIN [dbo].[TB_PETI_INDICADORES] PA ON PA.ID_MUNICIPIO = PR.ID_MUNICIPIO
  WHERE PP.ID = @ID_PROGRAMA 
  --WHERE PP.ID = @ID_PROGRAMA 
  END


