USE [Dbpmas_quadrienal_DESENV]
GO
/****** Object:  StoredProcedure [dbo].[PR_TRANSFERENCIA_RENDA_COFINANCIAMENTO]    Script Date: 10/09/2019 20:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[PR_TRANSFERENCIA_RENDA_COFINANCIAMENTO]
	@ID_TRANSFERENCIA_RENDA  INT 
AS  
  SELECT C.ID
		,C.ID_TRANSFERENCIA_RENDA
		,L.ID AS ID_UNIDADE
		,5 AS ID_TIPO_UNIDADE
		,'Centro Pop' AS TIPO_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,COALESCE(S.NUMERO_ATENDIDOS_MENSAL, 0) AS NUMERO_ATENDIDOS
		,C.NUMERO_USUARIOS
	 
  FROM TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CENTRO_POP AND C.ID_TRANSFERENCIA_RENDA = @ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_CENTRO_POP L ON(L.ID = S.ID_CENTRO_POP)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)

  UNION ALL

  SELECT C.ID
		,C.ID_TRANSFERENCIA_RENDA
		,L.ID AS ID_UNIDADE
		,4 AS ID_TIPO_UNIDADE
		,'CREAS' AS TIPO_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
	    ,Coalesce(S.NUMERO_ATENDIDOS_MENSAL, 0) + Coalesce(S.NUMERO_ATENDIDOS_MENSAL_SERVICO, 0) AS NUMERO_SERVICO
		,C.NUMERO_USUARIOS
	 
  FROM TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CREAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CREAS AND C.ID_TRANSFERENCIA_RENDA = @ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_CREAS L ON(L.ID = S.ID_CREAS)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)

  UNION ALL

  SELECT C.ID
		,C.ID_TRANSFERENCIA_RENDA
		,L.ID AS ID_UNIDADE
		,3 AS ID_TIPO_UNIDADE
		,'CRAS' AS TIPO_UNIDADE
		,L.NOME AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,COALESCE(S.NUMERO_ATENDIDOS_MENSAL, 0) AS NUMERO_ATENDIDOS
		,C.NUMERO_USUARIOS
	 
  FROM TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_CRAS S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_CRAS AND C.ID_TRANSFERENCIA_RENDA = @ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_CRAS L ON(L.ID = S.ID_CRAS)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)

  UNION ALL

  SELECT C.ID
		,C.ID_TRANSFERENCIA_RENDA
		,L.ID AS ID_UNIDADE
		,1 AS ID_TIPO_UNIDADE
		,'Rede direta' AS TIPO_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,Coalesce(S.NUMERO_ATENDIDOS_MENSAL, 0) + Coalesce(S.NUMERO_ATENDIDOS_MENSAL_SERVICO, 0) AS NUMERO_SERVICO
		,C.NUMERO_USUARIOS
	 
  FROM TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PUBLICO AND C.ID_TRANSFERENCIA_RENDA = @ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_LOCAL_EXECUCAO_PUBLICO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PUBLICO)
  INNER JOIN TB_UNIDADE_PUBLICA L ON(L.ID = E.ID_UNIDADE_PUBLICA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)

  UNION ALL

  SELECT C.ID
		,C.ID_TRANSFERENCIA_RENDA
		,L.ID AS ID_UNIDADE
		,2 AS ID_TIPO_UNIDADE
		,'Rede indireta' AS TIPO_UNIDADE
		,(L.RAZAO_SOCIAL + (CASE WHEN L.RAZAO_SOCIAL <> E.NOME THEN ' - ' + E.NOME ELSE '' END)) AS UNIDADE
		,S.ID AS ID_SERVICOS_RECURSOS_FINANCEIROS
		,S.ID_USUARIO_TIPO_SERVICO
		,U.NOME AS USUARIO
		,U.ID_TIPO_SERVICO
		,(T.NOME + (CASE WHEN DESCRICAO_NAO_TIPIFICADO IS NULL THEN '' ELSE (' - ' + DESCRICAO_NAO_TIPIFICADO)END))  AS TIPO_SERVICO
		,T.ID_TIPO_PROTECAO
		,P.NOME AS PROTECAO_SOCIAL
		,Coalesce(S.NUMERO_ATENDIDOS_MENSAL, 0) + Coalesce(S.NUMERO_ATENDIDOS_MENSAL_SERVICO, 0) AS NUMERO_SERVICO
		,C.NUMERO_USUARIOS			 
  FROM TB_SERVICO_RECURSO_FINANCEIRO_TRANSFERENCIA_RENDA C
  INNER JOIN TB_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO S ON(S.ID = C.ID_SERVICOS_RECURSOS_FINANCEIROS_PRIVADO AND C.ID_TRANSFERENCIA_RENDA = @ID_TRANSFERENCIA_RENDA)
  INNER JOIN TB_LOCAL_EXECUCAO_PRIVADO E ON(E.ID = S.ID_LOCAL_EXECUCAO_PRIVADO)
  INNER JOIN TB_UNIDADE_PRIVADA L ON(L.ID = E.ID_UNIDADE_PRIVADA)
  INNER JOIN TB_USUARIO_TIPO_SERVICO U ON (U.ID = S.ID_USUARIO_TIPO_SERVICO)
  INNER JOIN TB_TIPO_SERVICO T ON(T.ID = U.ID_TIPO_SERVICO)
  INNER JOIN TB_TIPO_PROTECAO P ON(P.ID = T.ID_TIPO_PROTECAO)  




