<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SedsContext" connectionString="Data Source=10.22.0.13\SEDS;Initial Catalog=DBSEDS;Persist Security Info=True;User ID=sa;Password=sas&amp;ads2016" providerName="System.Data.SqlClient"/>
    <add name="ElegivelContext" connectionString="Data Source=10.22.0.13\SEDS;Initial Catalog=DBElegivelBeneficiario;Persist Security Info=True;User ID=sa;Password=sas&amp;ads2016" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>